{% comment %}
  Renders a quick shop component that appends a product drawer to body tag which opens on click.
  Accepts:
  - custom_html: {Html} Custom HTML to be wrapped in a blank button element

  Usage:
   {% render 'wm__quick-shop',
      custom_html: captured_html_element
    %}
{% endcomment %}

{% style %}
  /* TODO: move this to top level eventually */
  quick-shop-drawer {
    position: fixed;
    z-index: 5000;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: rgba(var(--color-foreground), 0.5);
    visibility: hidden;
  }

  quick-shop-drawer[open] {
    opacity: 1;
    visibility: visible;
  }

  .quick-shop-drawer__content {
    width: 100%;
    background-color: rgb(var(--color-background));
    overflow: hidden;
    max-width: var(--page-width);
    width: calc(100% - 2rem);
    transform: translateX(100%);
    transition: transform var(--duration-medium) ease;
    padding: 0 1em;
    overflow-y: auto;
  }

  quick-shop-drawer.menu-opening .quick-shop-drawer__content {
    transform: translateX(0);
  }

  @media screen and (min-width: 750px) {
    .quick-shop-drawer__content {
      width: 80%;
      padding: 0 2em;
      max-height: 100%;
      overflow-y: auto;
    }
  }

  @media screen and (min-width: 990px) {
    .quick-shop-drawer__content {
      width: 30em;
    }
  }
{% endstyle %}

<quick-shop-opener data-modal="#QuickShop-{{ card_product.id }}">
  {%- if custom_button_html -%}
    <button
      id="{{ product_form_id }}-submit"
      type="submit"
      name="add"
      aria-haspopup="dialog"
      aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}"
      data-product-url="{{ card_product.url }}"
    >
      {{ custom_button_html }}
      {%- render 'loading-spinner', class: 'loading__spinner hidden _top-0 _left-0' -%}
    </button>
  {%- else -%}
    <button
      id="{{ product_form_id }}-submit"
      type="submit"
      name="add"
      class="_button-primary {% if full_width %} _w-full{% endif %}"
      aria-haspopup="dialog"
      aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}"
      data-product-url="{{ card_product.url }}"
    >
      Quick shop
      {%- render 'loading-spinner' -%}
    </button>
  {%- endif -%}
</quick-shop-opener>
<quick-shop-drawer id="QuickShop-{{ card_product.id }}" class="quick-shop-drawer">
  <div
    role="dialog"
    aria-label="{{ 'products.product.choose_product_options' | t: product_name: card_product.title | escape }}"
    aria-modal="true"
    class="quick-shop-drawer__content global-settings-popup"
    tabindex="-1"
  >
    <div class="_flex _flex-row _justify-between _items-center _py-4 _border-b _border-brand-border _mb-2">
      <h3 class="_font-heading-secondary md:_text-xl _text-lg">Quick Shop</h3>
      <button
        id="ModalClose-{{ card_product.id }}"
        type="button"
        class="_w-8 _p-1 _z-10 _flex _items-center _justify-center _cursor-pointer _rounded-full hover:_scale-110"
        aria-label="{{ 'accessibility.close' | t }}"
      >
        <span class="svg-wrapper _w-8">
          {{- 'icon-close.svg' | inline_asset_content -}}
        </span>
      </button>
    </div>
    <div id="QuickShopInfo-{{ card_product.id }}" class="quick-add-modal__content-info"></div>
  </div>
</quick-shop-drawer>
