{% comment %}
  Renders a quick shop component that appends a product drawer to body tag which opens on click.
  Accepts:
  - custom_html: {Html} Custom HTML to be wrapped in a blank button element

  Usage:
   {% render 'wm__quick-shop',
      custom_html: captured_html_element
    %}
{% endcomment %}

<quick-shop-opener data-modal="#QuickShop-{{ card_product.id }}">
  {%- if custom_button_html -%}
    <button
      id="{{ product_form_id }}-submit"
      type="submit"
      name="add"
      aria-haspopup="dialog"
      aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}"
      data-product-url="{{ card_product.url }}"
    >
      {{ custom_button_html }}
      {%- render 'loading-spinner', class: 'loading__spinner hidden _top-0 _left-0' -%}
    </button>
  {%- else -%}
    <button
      id="{{ product_form_id }}-submit"
      type="submit"
      name="add"
      class="_button-primary {% if full_width %} _w-full{% endif %}"
      aria-haspopup="dialog"
      aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}"
      data-product-url="{{ card_product.url }}"
    >
      <span>
        Quick shop
      </span>
      {%- render 'loading-spinner' -%}
    </button>
  {%- endif -%}
</quick-shop-opener>
<quick-shop-drawer id="QuickShop-{{ card_product.id }}" class="quick-shop-drawer">
  <div
    role="dialog"
    aria-label="{{ 'products.product.choose_product_options' | t: product_name: card_product.title | escape }}"
    aria-modal="true"
    class="quick-shop-drawer__content global-settings-popup"
    tabindex="-1"
  >
    <div class="_flex _flex-row _justify-between _items-center _py-4 _border-b _border-brand-border _mb-2">
      <h3 class="_font-heading-secondary md:_text-xl _text-lg">Quick Shop</h3>
      <button
        id="ModalClose-{{ card_product.id }}"
        type="button"
        class="_w-8 _p-1 _z-10 _flex _items-center _justify-center _cursor-pointer _rounded-full hover:_scale-110"
        aria-label="{{ 'accessibility.close' | t }}"
      >
        <span class="svg-wrapper _w-8">
          {{- 'icon-close.svg' | inline_asset_content -}}
        </span>
      </button>
    </div>
    <div id="QuickShopInfo-{{ card_product.id }}" class="quick-add-modal__content-info"></div>
  </div>
</quick-shop-drawer>
