{% comment %}
  Renders a header drawer menu for mobile and desktop.

  Usage:
  {% render 'header-drawer' %}
{% endcomment %}

{%- assign mega_menu_parents = metaobjects.mega_menu_parent.values -%}
{%- assign banner_entries = nil -%}

<header-drawer data-breakpoint="{% if section.settings.menu_type_desktop == 'drawer' %}desktop{% else %}tablet{% endif %}">
  <details id="Details-menu-drawer-container" class="_flex _group/headerdrawer">
    <summary
      data-js-sliding
      class="_relative _flex _items-center _justify-center"
      aria-label="{{ 'sections.header.menu' | t }}"
    >
      <div class="group-open/headerdrawer:_invisible _visible svg-wrapper _w-6 _h-6 _text-brand-primary-700">
        {{- 'icon-newbuild-burger.svg' | inline_asset_content -}}
      </div>
      <div class="group-open/headerdrawer:_visible _invisible _absolute _-translate-y-1/2 _top-1/2 _-translate-x-1/2 _left-1/2 svg-wrapper _w-4 _h-4 _text-brand-primary-700">
        {{- 'icon-close.svg' | inline_asset_content -}}
      </div>
    </summary>
    <div id="menu-drawer" class="menu-drawer">
      <div class="_relative _h-full">
        <div class="
          _flex
          _flex-col
          _gap-5
          _px-4
          _justify-between
          _overflow-y-auto
          _h-full
          _border-t
          _border-brand-border
        ">
          <nav class="menu-drawer__navigation _py-2">
            <div class="_flex _flex-row _justify-between _items-center _w-full _mb-2">
              <span class="_font-body-fancy _text-xl _text-brand-dark">
                Best Sellers
              </span>
              <a href="{{ slider_collection.url }}" class="_underline _underline-offset-4 _text-sm _font-link">See All</a>
            </div>
            <embla-slider data-lazy>
              <div class="_overflow-hidden _relative" data-js-embla>
                <div class="_flex _gap-4 _select-none" data-js-embla-container>
                  {% assign skip_card_product_styles = false %}
                  {%- for product in slider_collection.products limit: products_to_show -%}
                    <div id="Slide-{{ section.id }}-{{ forloop.index }}"
                      class="
                      _w-full
                      _max-w-[120px]
                      _flex-none
                      _flex
                      _justify-center
                      _items-center
                      _snap-start
                      _h-auto
                      {% if forloop.last %} md:_mr-12 _mr-4{% endif %}
                    ">
                      {% render 'wm__card-product',
                        card_product: product,
                        skip_styles: skip_card_product_styles,
                        section_id: section.id,
                        simple_card: true
                      %}
                    </div>
                    {%- assign skip_card_product_styles = true -%}
                  {%- endfor -%}
                </div>
              </div>
              <div class="_w-full">
                <div class="_h-[1px] _bg-gray-300 _rounded _overflow-hidden">
                  <div data-js-embla-progress class="_block _h-full _bg-brand-primary-500"></div>
                </div>
              </div>
            </embla-slider>
            <ul class="menu-drawer__menu has-submenu list-menu _pt-4" role="list">
              {% comment %} FIXME: start here {% endcomment %}
              {%- for link in section.settings.menu.links -%}

                {% comment %} Metaobject: grab right parent metaobject {% endcomment %}
                {%- assign active_parent = nil -%}
                {%- for parent in mega_menu_parents -%}
                  {%- if parent.label == link.title or parent.link == link.url -%}
                    {%- assign active_parent = parent -%}
                    {%- break -%}
                  {%- endif -%}
                {%- endfor -%}

                {%- if forloop.first -%}
                  {%- assign banner_entries = active_parent.banner_link.value | default: blank -%}
                {%- endif -%}
                {%- assign child_items = active_parent.child_item.value | default: blank -%}
                {%- assign default_content = active_parent.default_panel.value | default: blank -%}

                <li class="_border-b _border-brand-border">
                  {%- if link.links != blank -%}
                    <animated-details>
                      <details id="Details-menu-drawer-menu-item-{{ forloop.index }}">
                        <summary
                          id="HeaderDrawer-{{ link.handle }}"
                          class="menu-drawer__menu-item list-menu__item focus-inset"
                        >
                          <span class="_font-body-fancy _text-2xl _text-brand-dark">
                            {{ link.title | escape }}
                          </span>
                          <span class="svg-wrapper _w-6 _h-6 _text-brand-primary-500" data-js-plus-icon>
                            {{- 'icon-newbuild-plus-thick.svg' | inline_asset_content -}}
                          </span>
                        </summary>
                        <div
                          id="link-{{ link.handle | escape }}"
                          {% comment %} Alex - removing this to return default detail/summary logic {% endcomment %}
                          {% comment %} class="menu-drawer__submenu has-submenu" {% endcomment %}
                          tabindex="-1"
                        >
                          <div>
                            {% comment %} Alex - removing to enable animation {% endcomment %}
                            {% comment %} <div class="menu-drawer__inner-submenu"> {% endcomment %}
                            {% comment %} <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                              <span class="svg-wrapper">
                                {{- 'icon-arrow.svg' | inline_asset_content -}}
                              </span>
                              {{ link.title | escape }}
                            </button> {% endcomment %}
                            <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                              {%- for childlink in link.links -%}

                                {%- assign active_child = nil -%}

                                {%- for child in child_items -%}
                                  {%- assign child_label_stripped = child.label | downcase -%}
                                  {%- assign child_link_label_stripped = childlink.title | downcase -%}

                                  {%- if child_label_stripped == child_link_label_stripped -%}
                                    {%- assign active_child = child -%}
                                  {%- endif -%}
                                {%- endfor -%}

                                <li class="">
                                  {%- if childlink.links == blank -%}
                                    <a
                                      id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                                      href="{{ childlink.url }}"
                                      class="menu-drawer__menu-item list-menu__item focus-inset _font-link _text-sm"
                                      {% if childlink.current %}
                                        aria-current="page"
                                      {% endif %}
                                    >
                                      {{ childlink.title | escape }}
                                    </a>
                                  {%- else -%}
                                    {%- unless active_child == nil -%}
                                      <details id="Details-menu-drawer-{{ link.handle }}-{{ childlink.handle }}">
                                        <summary
                                          data-js-sliding
                                          id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                                          class="menu-drawer__menu-item list-menu__item focus-inset _font-link _text-sm"
                                        >
                                          {{ childlink.title | escape }}
                                          {{- 'icon-caret.svg' | inline_asset_content -}}
                                        </summary>
                                        {% comment %} FIXME: start of bottom menu {% endcomment %}
                                        <div
                                          id="childlink-{{ childlink.handle | escape }}"
                                          class="
                                            _px-4
                                            menu-drawer__submenu has-submenu
                                          "
                                        >
                                          <button
                                            class="menu-drawer__close-button focus-inset"
                                            aria-expanded="true"
                                          >
                                            <span class="svg-wrapper">
                                              {{- 'icon-arrow.svg' | inline_asset_content -}}
                                            </span>
                                            <span class="_font-body-fancy _text-xl _text-brand-dark _capitalize">
                                              {{ childlink.title | escape }}
                                            </span>
                                            {% comment %} <span class="svg-wrapper">
                                              {{- 'icon-arrow.svg' | inline_asset_content -}}
                                            </span>
                                            {{ childlink.title | escape }} {% endcomment %}
                                          </button>
                                          {%- case active_child.type_of_menu -%}
                                            {%- when 'tile' -%}
                                              <ul
                                                role="list"
                                                aria-hidden="true"
                                                data-grandchild-panel="{{ childlink.handle }}"
                                                class="_flex _flex-col _gap-2"
                                              >
                                                {%- for grandchildlink in childlink.links -%}
                                                  {%- assign active_grandchild = nil -%}
                                                  
                                                  {%- for grandchild in active_child.grandchild_item.value -%}
                                                    {%- assign grandchild_label_stripped = grandchild.label | downcase -%}
                                                    {%- assign grandchild_link_label_stripped = grandchildlink.title | downcase -%}
                                                    
                                                    {%- if grandchild_label_stripped == grandchild_link_label_stripped -%}
                                                      {%- assign active_grandchild = grandchild -%}
                                                    {%- endif -%}
                                                  {%- endfor -%}
                                                  
                                                  <li class="">
                                                    <a
                                                      href="{{ grandchildlink.url }}"
                                                      class="_bg-brand-background-light _flex _flex-row _justify-between _items-center _h-full _py-2 _pr-3"
                                                      {% if grandchildlink.current %}
                                                        aria-current="page"
                                                      {% endif %}
                                                    >
                                                      <div class="_flex _flex-row _items-center _gap-2">
                                                        {%- if active_grandchild -%}
                                                          {{
                                                            active_grandchild.image
                                                            | image_url: width: 100
                                                            | image_tag:
                                                              class: '_w-12 _h-12 _object-cover',
                                                              widths: '100',
                                                              width: 100,
                                                              alt: active_grandchild.label
                                                          }}
                                                        {%- endif -%}
                                                        <span class="_text-sm _font-link">
                                                          {{ grandchildlink.title }}
                                                        </span>
                                                      </div>
                                                      <span class="svg-wrapper _w-5">
                                                        {{- 'arrow-chevron.svg' | inline_asset_content -}}
                                                      </span>
                                                    </a>
                                                  </li>
                                                {%- endfor -%}
                                              </ul>
                                            {%- when 'card' -%}
                                              <ul
                                                role="list"
                                                aria-hidden="true"
                                                data-grandchild-panel="{{ childlink.handle }}"
                                                class="_grid _grid-cols-2 _gap-4 animation-content"
                                              >
                                                {%- for grandchildlink in childlink.links -%}
                                                  {%- assign active_grandchild = nil -%}
                                                  
                                                  {%- for grandchild in active_child.grandchild_item.value -%}
                                                    {%- assign grandchild_label_stripped = grandchild.label | downcase -%}
                                                    {%- assign grandchild_link_label_stripped = grandchildlink.title | downcase -%}
                                                    
                                                    {%- if grandchild_label_stripped == grandchild_link_label_stripped -%}
                                                      {%- assign active_grandchild = grandchild -%}
                                                    {%- endif -%}
                                                  {%- endfor -%}
                                                  
                                                  <li>
                                                    <a
                                                      href="{{ grandchildlink.url }}"
                                                      class="_flex _flex-col _gap-4 _h-full"
                                                      {% if grandchildlink.current %}
                                                        aria-current="page"
                                                      {% endif %}
                                                    >
                                                      <div class="_flex _flex-col">
                                                        {%- if active_grandchild -%}
                                                          {{
                                                            active_grandchild.image
                                                            | image_url: width: 248
                                                            | image_tag:
                                                              class: '_w-full _h-full _object-cover',
                                                              widths: '124, 248',
                                                              width: 124,
                                                              alt: active_grandchild.label
                                                          }}
                                                        {%- endif -%}
                                                        <span class="_text-sm _font-link _pt-1">
                                                          {{ grandchildlink.title }}
                                                        </span>
                                                      </div>
                                                    </a>
                                                  </li>
                                                {%- endfor -%}
                                              </ul>
                                            {%- when 'product-carousel' -%}
                                              {%- if active_child.collection_carousel != blank -%}
                                                {%- assign collection_carousel_metaobject_content = active_child.collection_carousel.value -%}
                                                {% comment %} <embla-slider data-lazy> {% endcomment %}
                                                  <div class="_overflow-hidden _relative animation-content" data-js-embla>
                                                    <div class="_grid _grid-cols-2 _gap-4 _select-none" data-js-embla-container>
                                                      {% assign skip_card_product_styles = false %}
                                                      {%- for product in collection_carousel_metaobject_content.products limit: products_to_show -%}
                                                        <div id="Slide-{{ section.id }}-{{ forloop.index }}"
                                                          class="
                                                          _w-full
                                                          _flex-none
                                                          _flex
                                                          _justify-center
                                                          _items-center
                                                          _snap-start
                                                          _h-auto
                                                        ">
                                                          {% render 'wm__card-product',
                                                            card_product: product,
                                                            skip_styles: skip_card_product_styles,
                                                            section_id: section.id,
                                                            simple_card: true
                                                          %}
                                                        </div>
                                                        {%- assign skip_card_product_styles = true -%}
                                                      {%- endfor -%}
                                                    </div>
                                                    {% comment %} <button data-js-embla-prev class="_absolute _hidden _left-0 _top-1/2 _-translate-y-12 _bg-brand-light _text-brand-dark hover:_scale-110 _items-center _justify-center _w-10 _h-10 _rounded-full disabled:_opacity-40">
                                                      <span class="svg-wrapper _rotate-180 _w-5">
                                                        {{- 'arrow-chevron.svg' | inline_asset_content -}}
                                                      </span>
                                                    </button>
                                                    <button data-js-embla-next class="_absolute md:_right-7 _right-4 _top-1/2 _-translate-y-12  _bg-brand-light _text-brand-dark hover:_scale-110 _flex _items-center _justify-center _w-10 _h-10 _rounded-full _opacity-80 hover:_opacity-100 disabled:_opacity-20">
                                                      <span class="svg-wrapper _w-5">
                                                        {{- 'arrow-chevron.svg' | inline_asset_content -}}
                                                      </span>
                                                    </button> {% endcomment %}
                                                  </div>
                                                {% comment %} </embla-slider> {% endcomment %}
                                              {%- else -%}
                                                {% comment %} Copy of tile logic, make sure to update later {% endcomment %}
                                                <ul
                                                  role="list"
                                                  aria-hidden="true"
                                                  data-grandchild-panel="{{ childlink.handle }}"
                                                  class="_grid _grid-cols-2 _gap-2 animation-content"
                                                >
                                                  {%- for grandchildlink in childlink.links -%}
                                                    <li class="group/tile">
                                                      <a
                                                        href="{{ grandchildlink.url }}"
                                                        class="_bg-brand-background-light _flex _flex-row _justify-between _items-center _h-full _py-2 _pr-3"
                                                        {% if grandchildlink.current %}
                                                          aria-current="page"
                                                        {% endif %}
                                                      >
                                                        <div class="_flex _flex-row _items-center _gap-2">
                                                          <span class="group-hover/tile:_underline _underline-offset-4 _no-underline _text-sm _font-link">
                                                            {{ grandchildlink.title }}
                                                          </span>
                                                        </div>
                                                        <span class="svg-wrapper _w-5">
                                                          {{- 'arrow-chevron.svg' | inline_asset_content -}}
                                                        </span>
                                                      </a>
                                                    </li>
                                                  {%- endfor -%}
                                                </ul>
                                              {%- endif -%}
                                          {%- endcase -%}
                                        </div>
                                      </details>
                                    {%- endunless -%}
                                  {%- endif -%}
                                </li>
                              {%- endfor -%}
                            </ul>
                          </div>
                        </div>
                      </details>
                    </animated-details>
                  {%- else -%}
                    <a
                      id="HeaderDrawer-{{ link.handle }}"
                      href="{{ link.url }}"
                      class="menu-drawer__menu-item list-menu__item  focus-inset"
                      {% if link.current %}
                        aria-current="page"
                      {% endif %}
                    >
                      <span class="_font-body-fancy _text-2xl _text-brand-dark">
                        {{ link.title | escape }}
                      </span>
                    </a>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
          </nav>
          <div class="_w-full">
            <div class="_flex-grow _flex _flex-col _items-start">
              <span class="_font-body-fancy _text-xl _text-brand-dark _mb-2">
                Featured
              </span>
              <div class="_flex _flex-row _gap-2.5 _w-full">
                {%- for banner in banner_entries -%}
                  <div class="_flex-1 _flex _flex-col _relative _group/menubanner link-underline-trigger">
                    <div class="_aspect-square _overflow-hidden _mb-2">
                      {%- assign media = banner.media.value -%}
                      <div class="_aspect-square _overflow-hidden _mb-2">
                        {%- if media.media_type == 'video' or media.media_type == 'external_video' -%}
                          {{ media | media_tag: class: '_w-full _h-full _object-cover group-hover/menubanner:_opacity-80', autoplay: true, loop: true, muted: true, controls: false }}
                        {%- elsif media.media_type == 'image' -%}
                          {{ media | image_url: width: 360 | image_tag: class: '_w-full _h-full _object-cover group-hover/menubanner:_opacity-80', widths: '360,720', width: 360, loading: 'lazy', alt: banner.title }}
                        {%- endif -%}
                      </div>
                    </div>
                    <div class="_flex-1 _flex _flex-col _justify-between _items-start">
                      {%- if banner.title -%}<span class="link-underline _text-sm _font-link _inline">{{ banner.title }}</span>{%- endif -%}
                      {%- if banner.cta_text -%}
                        <a
                          href="{{ banner.link.value.url }}"
                          class="
                            _button-secondary
                            _text-sm
                            _isolate
                            before:_content-[''] before:_absolute before:_inset-0
                          "
                        >
                          {{- banner.cta_text | escape -}}
                        </a>
                      {%- elsif banner.link.value.url -%}
                        {% comment %} Hide button but keep URL active (just trust me) {% endcomment %}
                        <a
                          href="{{ banner.link.value.url }}"
                          class="
                            _isolate
                            before:_content-[''] before:_absolute before:_inset-0
                          "
                        >
                          {% comment %} Invisible character to prevent :empty CSS {% endcomment %}
                          &#8203;
                        </a>
                      {%- endif -%}
                    </div>
                  </div>
                {%- endfor -%}
              </div>
            </div>
            <div class="_py-4">
              {%- if localization.available_countries or localization.available_languages -%}
                <div class="menu-drawer__localization header-localization">
                  {%- if localization.available_countries and localization.available_countries.size > 1 -%}
                    <localization-form>
                      {%- form 'localization', id: 'HeaderCountryMobileForm', class: 'localization-form' -%}
                        <div>
                          <h2 class="visually-hidden" id="HeaderCountryMobileLabel">
                            {{ 'localization.country_label' | t }}
                          </h2>
                          {%- render 'country-localization', localPosition: 'HeaderCountryMobile' -%}
                        </div>
                      {%- endform -%}
                    </localization-form>
                  {% endif %}
  
                  {%- if localization.available_languages and localization.available_languages.size > 1 -%}
                    <localization-form>
                      {%- form 'localization', id: 'HeaderLanguageMobileForm', class: 'localization-form' -%}
                        <div>
                          <h2 class="visually-hidden" id="HeaderLanguageMobileLabel">
                            {{ 'localization.language_label' | t }}
                          </h2>
                          {%- render 'language-localization', localPosition: 'HeaderLanguageMobile' -%}
                        </div>
                      {%- endform -%}
                    </localization-form>
                  {%- endif -%}
                </div>
              {%- endif -%}
            </div>
          </div>
        </div>
      </div>
    </div>
  </details>
</header-drawer>
