{% comment %}
  Completely custom code (Alex) just because badges are super annoying in Dawn

  Accepts:
  - product: {Object} Product liquid object
  - placement: {String} 'main', 'card' - controls what badges show

  Usage:
  {% render 'wm__badges', product: product/card_product, placement: 'main'/'card' %}
{% endcomment %}

{%- assign badge_classes_base = "_border _inline-block _font-body-condensed _uppercase _text-center _break-words _pointer-events-none" -%}

{%- assign badge_classes_lg = "_text-sm _px-1.5 _py-0.5 _text-brand-dark _bg-brand-light" -%}
{% comment %} {%- assign badge_classes_sm = "_text-sm _px-1.5 _py-0.5 _text-brand-dark _bg-brand-light" -%} {% endcomment %}

{%- assign badge_classes_color_light = "_border-brand-dark _text-brand-dark _bg-brand-light" -%}
{% comment %} {%- assign badge_classes_color_dark = "_border-transparent _text-brand-light _bg-brand-primary-500" -%} {% endcomment %}
{%- assign badge_classes_color_disabled = "_border-transparent _text-brand-light _bg-gray-300" -%}

{% assign badge_size = badge_classes_lg %}
{% comment %} Optional controls for smaller card badges {% endcomment %}
{% comment %}
{%- if placement == "card" -%}
  {% assign badge_size = badge_classes_sm %}
{%- endif -%}
{% endcomment %}

{%- assign badge_counter = 0 -%}
{%- assign badge_limit = 2 -%}

{%- if product.available == false -%}
  <span class="{{ badge_classes_base }} {{ badge_classes_color_disabled }} {{ badge_size }}">
    {{- 'products.product.sold_out' | t -}}
  </span>
{%- else -%}
  {% comment %} Compare price -X% off {% endcomment %}
  {% comment %}
  {%- if product.compare_at_price > product.price and product.available -%}
    {%- if product.compare_at_price > product.price -%}
      {%- assign discount = product.compare_at_price | minus: product.price -%}
      {%- assign percent_off = discount | times: 100 | divided_by: product.compare_at_price | round -%}
      
      -{{ percent_off }}%
    {%- endif -%}
  {%- endif -%}
  {% endcomment %}

  {% comment %} New Tag {% endcomment %}
  {%- if product.collections contains collections['whats-new'] and badge_counter <= badge_limit -%}
    <span class="{{ badge_classes_base }} {{ badge_classes_color_light }} {{ badge_size }}">
      New Arrival
    </span>

    {%- assign badge_counter = badge_counter | plus: 1 -%}
  {%- endif -%}

  {% comment %} Best Seller Tag {% endcomment %}
  {%- if product.tags contains 'Best Seller' and badge_counter <= badge_limit -%}
    <span class="{{ badge_classes_base }} {{ badge_classes_color_light }} {{ badge_size }}">
      Best Seller
    </span>

    {%- assign badge_counter = badge_counter | plus: 1 -%}
  {%- endif -%}

  {% comment %} Dermatologist-approved badge {% endcomment %}
  {%- if badge_counter <= badge_limit and placement != "card" -%}
    <span class="{{ badge_classes_base }} {{ badge_classes_color_light }} {{ badge_size }}">
      Dermatologist-approved
    </span>

    {%- assign badge_counter = badge_counter | plus: 1 -%}
  {%- endif -%}

{%- endif -%}
