{% comment %}
  Renders a megamenu for the header.

  Accepts:
  - image_banners: {Boolean} see if image banners turn on in wm__header

  Usage:
  {% render 'header-mega-menu' %}
{% endcomment %}

{% style %}
  .mega-menu--padding-left {
    padding-left: 3rem;
  }
  .mega-menu--padding-right {
    padding-right: 3rem;
  }

  .js-panel {
    display: none;
  }
  .js-panel--active {
    display: block;
  }
  .js-panel--active .animation-content {
    animation: var(--animation-slide-in-quick);
  }
{% endstyle %}

{%- assign mega_menu_parents = metaobjects.mega_menu_parent.values -%}

<nav class="header__inline-menu">
  <ul class="list-menu list-menu--inline _h-full" role="list">
    {%- for link in section.settings.menu.links -%}

      {% comment %} Metaobject: grab right parent metaobject {% endcomment %}
      {%- assign active_parent = nil -%}
      {%- for parent in mega_menu_parents -%}
        {%- if parent.label == link.title or parent.link == link.url -%}
          {%- assign active_parent = parent -%}
          {%- break -%}
        {%- endif -%}
      {%- endfor -%}

      {%- assign banner_entries = active_parent.banner_link.value | default: blank -%}
      {%- assign child_items = active_parent.child_item.value | default: blank -%}
      {%- assign default_content = active_parent.default_panel.value | default: blank -%}

      <li>
        {%- if link.links != blank -%}
          <details-hover-toggle>
            {% comment %} mega-menu {% endcomment %}
            <details id="Details-HeaderMenu-{{ forloop.index }}" class="_group _static _h-full"
              {% comment %} {% if forloop.first %}open="true"{% endif %} {% endcomment %}
            >
              <summary
                id="HeaderMenu-{{ link.handle }}"
                class="_p-6 _h-full link-underline-trigger _text-sm _font-link header-controlled--text list-menu__item focus-inset"
              >
                <span class="link-underline">
                  {{- link.title | escape -}}
                </span>
                {{- 'icon-caret.svg' | inline_asset_content -}}
              </summary>

              <div
                id="MegaMenu-Content-{{ forloop.index }}"
                class="
                  group-open:before:_block group-open:before:_bg-black group-open:before:_fixed group-open:before:_left-0 group-open:before:_top-0 group-open:before:_w-full group-open:before:_h-full group-open:before:_-z-10 group-open:before:_pointer-events-none group-open:before:_bg-opacity-40
                  _bg-brand-light
                  _border-t
                  _border-brand-border
                  _rounded-none
                  _absolute
                  _left-0
                  _right-0
                  _overflow-y-hidden
                  _top-full
                "
                tabindex="-1"
              >
                <div class="
                  _grid _grid-cols-12 _gap-8
                  _text-base
                "
                aria-label="Mega menu: {{ link.title }}"
                role="navigation">
                  {% comment %} ⬅️ LEFT COLUMN: CHILD LINKS {% endcomment %}
                  <nav aria-label="Category options" class="_col-span-3 _bg-brand-background-light _pt-10  mega-menu--padding-left _pr-12">
                    <h3 class="_font-heading-primary _text-2xl _text-brand-dark _mb-4">
                      {{ link.title | escape }}
                    </h3>
                    <ul role="list" id="menu-category-list">
                      {%- for childlink in link.links -%}
                        {%- assign active_child = nil -%}

                        {%- for child in child_items -%}
                          {%- assign child_label_stripped = child.label | downcase -%}
                          {%- assign child_link_label_stripped = childlink.title | downcase -%}

                          {%- if child_label_stripped == child_link_label_stripped -%}
                            {%- assign active_child = child -%}
                          {%- endif -%}
                        {%- endfor -%}
                        
                        <li class="_py-3 _flex-1 _flex _items-center _justify-between _cursor-pointer link-underline-trigger"
                          {% if active_child %}
                            data-js-child="grandchild-panel-{{ childlink.handle }}"
                          {% else %}
                            data-js-child-no-links
                          {% endif %}
                        >
                          {%- if active_child -%}
                            <span class="_text-sm _font-link link-underline">
                              {{ childlink.title | escape }}
                            </span>
                            <span class="svg-wrapper _w-2.5 _-rotate-90 group-hover/childlink:_ml-2">
                              {{- 'icon-caret.svg' | inline_asset_content -}}
                            </span>
                          {%- else -%}
                            <a href="{{ childlink.url }}" class="_text-sm _font-link _w-full">
                              <span class="link-underline">
                                {{ childlink.title | escape }}
                              </span>
                            </a>
                          {%- endif -%}
                        </li>
                      {%- endfor -%}
                    </ul>
                  </nav>
                  {% comment %} ⬆️ MIDDLE COLUMN: GRANDCHILD LINKS {% endcomment %}
                  <section aria-label="Subcategory options" id="menu-grandchildren"  class="_col-span-5 _pt-10 _pb-12">
                    <div data-js-panel-initial class="js-panel js-panel--active">
                      {%- if default_content == 'collection' -%}
                        <div class="_flex _flex-row _justify-between _items-center _w-full _mb-4">
                          <h3 class="_font-heading-primary _text-2xl _text-brand-dark">
                            Best Sellers
                          </h3>
                          <a href="{{ routes.collections_url }}/best-sellers" class="_underline _underline-offset-4 hover:_no-underline _text-sm _font-link">See All</a>
                        </div>
                        <div class="animation-content">
                          <embla-slider data-lazy>
                            <div class="_overflow-hidden _relative" data-js-embla>
                              <div class="_flex md:_gap-7 _gap-4 _select-none" data-js-embla-container>
                                {% assign skip_card_product_styles = false %}
                                {%- for product in slider_collection.products limit: products_to_show -%}
                                  <div id="Slide-{{ section.id }}-{{ forloop.index }}"
                                    class="
                                    _w-2/3
                                    md:_w-1/2
                                    md:_max-w-[220px]
                                    _flex-none
                                    _flex
                                    _justify-center
                                    _items-center
                                    _snap-start
                                    _h-auto
                                  ">
                                    {% render 'wm__card-product',
                                      card_product: product,
                                      skip_styles: skip_card_product_styles,
                                      section_id: section.id,
                                      simple_card: true
                                    %}
                                  </div>
                                  {%- assign skip_card_product_styles = true -%}
                                {%- endfor -%}
                              </div>
                              <button data-js-embla-prev class="_absolute _hidden _left-0 _top-1/2 _-translate-y-12 _bg-brand-light _text-brand-dark hover:_scale-110 _items-center _justify-center _w-10 _h-10 _rounded-full disabled:_opacity-40">
                                <span class="svg-wrapper _rotate-180 _w-5">
                                  {{- 'arrow-chevron.svg' | inline_asset_content -}}
                                </span>
                              </button>
                              <button data-js-embla-next class="_absolute _right-4 _top-1/2 _-translate-y-12  _bg-brand-light _text-brand-dark hover:_scale-110 _flex _items-center _justify-center _w-10 _h-10 _rounded-full _opacity-80 hover:_opacity-100 disabled:_opacity-0">
                                <span class="svg-wrapper _w-5">
                                  {{- 'arrow-chevron.svg' | inline_asset_content -}}
                                </span>
                              </button>
                            </div>
                          </embla-slider>
                        </div>
                      {%- elsif default_content == 'blog' -%}
                        <div class="_flex _flex-row _justify-between _items-center _w-full _mb-4">
                          <h3 class="_font-heading-primary _text-2xl _text-brand-dark">
                            Articles
                          </h3>
                          <a href="{{ blogs[slider_blog].url }}" class="_underline _underline-offset-4 hover:_no-underline _text-sm _font-link">See All</a>
                        </div>
                        <div class="">
                          {% comment %} Article slider {% endcomment %}
                          <embla-slider data-lazy>
                            <div class="_overflow-hidden _relative" data-js-embla>
                              <div class="_flex md:_gap-7 _gap-4 _select-none" data-js-embla-container>
                                {%- assign selected_blog = blogs[slider_blog] -%}
                                {%- for article in selected_blog.articles limit: articles_to_show -%}
                                  <div
                                    class="
                                      _w-2/3
                                      md:_w-1/2
                                      md:_max-w-[220px]
                                      _flex-none
                                      _flex
                                      _justify-center
                                      _items-center
                                      _snap-start
                                      _h-auto
                                    "
                                  >
                                    {%- render 'wm__article-card',
                                      article: article,
                                      simple_card: true,
                                      blog: selected_blog
                                    -%}
                                  </div>
                                {%- endfor -%}
                              </div>
                              <button data-js-embla-prev class="_absolute _hidden _left-0 _top-1/2 _-translate-y-12 _bg-brand-light _text-brand-dark hover:_scale-110 _items-center _justify-center _w-10 _h-10 _rounded-full disabled:_opacity-40">
                                <span class="svg-wrapper _rotate-180 _w-5">
                                  {{- 'arrow-chevron.svg' | inline_asset_content -}}
                                </span>
                              </button>
                              <button data-js-embla-next class="_absolute _right-4 _top-1/2 _-translate-y-12  _bg-brand-light _text-brand-dark hover:_scale-110 _flex _items-center _justify-center _w-10 _h-10 _rounded-full _opacity-80 hover:_opacity-100 disabled:_opacity-0">
                                <span class="svg-wrapper _w-5">
                                  {{- 'arrow-chevron.svg' | inline_asset_content -}}
                                </span>
                              </button>
                            </div>
                          </embla-slider>
                        </div>
                      {%- endif -%}
                    </div>

                    {% comment %} Dynamic menus {% endcomment %}
                    {%- for childlink in link.links -%}

                      {%- assign active_child = nil -%}

                      {%- for child in child_items -%}
                        {%- assign child_label_stripped = child.label | downcase -%}
                        {%- assign child_link_label_stripped = childlink.title | downcase -%}

                        {%- if child_label_stripped == child_link_label_stripped -%}
                          {%- assign active_child = child -%}
                        {%- endif -%}
                      {%- endfor -%}

                      {% comment %} {%- unless active_child == nil -%}
                        <script>
                          console.log("Active child!!!:");
                          console.log({{ active_child | json }});
                        </script>
                      {%- endunless -%} {% endcomment %}

                      {%- unless active_child == nil -%}
                        <div data-js-panel="grandchild-panel-{{ childlink.handle }}" class="js-panel">
                          <div class="_flex _flex-row _justify-between _items-center _w-full _mb-4">
                            <h3 class="_font-heading-primary _text-2xl _text-brand-dark">
                              {{ childlink.title }}
                            </h3>
                            <a href="{{ childlink.url }}" class="_underline _underline-offset-4 hover:_no-underline _text-sm _font-link">See All</a>
                          </div>
                          {%- case active_child.type_of_menu -%}
                            {% comment %} TILE {% endcomment %}
                            {%- when 'tile' -%}
                              <ul
                                role="list"
                                aria-hidden="true"
                                data-grandchild-panel="{{ childlink.handle }}"
                                class="_grid _grid-cols-2 _gap-4 animation-content"
                              >
                                {%- for grandchildlink in childlink.links -%}
                                  {%- assign active_grandchild = nil -%}
                                  
                                  {%- for grandchild in active_child.grandchild_item.value -%}
                                    {%- assign grandchild_label_stripped = grandchild.label | downcase -%}
                                    {%- assign grandchild_link_label_stripped = grandchildlink.title | downcase -%}
                                    
                                    {%- if grandchild_label_stripped == grandchild_link_label_stripped -%}
                                      {%- assign active_grandchild = grandchild -%}
                                    {%- endif -%}
                                  {%- endfor -%}
                                  
                                  <li class="">
                                    <a
                                      href="{{ grandchildlink.url }}"
                                      class="_group/grandchildtile _bg-brand-background-light _flex _flex-row _justify-between _items-center _h-full _py-2.5 _pl-1.5 _pr-3"
                                      {% if grandchildlink.current %}
                                        aria-current="page"
                                      {% endif %}
                                    >
                                      <div class="_flex _flex-row _items-center _gap-2 group-hover/grandchildtile:_opacity-60">
                                        {%- if active_grandchild -%}
                                          {{
                                            active_grandchild.image
                                            | image_url: width: 100
                                            | image_tag:
                                              class: '_w-10 _h-10 _object-cover',
                                              widths: '100',
                                              width: 100,
                                              alt: active_grandchild.label
                                          }}
                                        {%- else -%}
                                          <div class="_w-10 _h-10 _bg-brand-background _block"></div>
                                        {%- endif -%}
                                        <span class="_text-sm _font-link">
                                          {{ grandchildlink.title }}
                                        </span>
                                      </div>
                                      <span class="svg-wrapper _w-5 _text-brand-dark">
                                        {{- 'arrow-chevron.svg' | inline_asset_content -}}
                                      </span>
                                    </a>
                                  </li>
                                {%- endfor -%}
                              </ul>

                            {% comment %} CARD {% endcomment %}
                            {%- when 'card' -%}
                              <ul
                                role="list"
                                aria-hidden="true"
                                data-grandchild-panel="{{ childlink.handle }}"
                                class="_grid _grid-cols-4 _gap-3 animation-content"
                              >
                                {%- for grandchildlink in childlink.links -%}
                                  {%- assign active_grandchild = nil -%}
                                  
                                  {%- for grandchild in active_child.grandchild_item.value -%}
                                    {%- assign grandchild_label_stripped = grandchild.label | downcase -%}
                                    {%- assign grandchild_link_label_stripped = grandchildlink.title | downcase -%}
                                    
                                    {%- if grandchild_label_stripped == grandchild_link_label_stripped -%}
                                      {%- assign active_grandchild = grandchild -%}
                                    {%- endif -%}
                                  {%- endfor -%}
                                  
                                  <li>
                                    <a
                                      href="{{ grandchildlink.url }}"
                                      class="_flex _flex-col _gap-4 _h-full _group/grandchildcard"
                                      {% if grandchildlink.current %}
                                        aria-current="page"
                                      {% endif %}
                                    >
                                      <div class="_flex _flex-col">
                                        {%- if active_grandchild -%}
                                          {{
                                            active_grandchild.image
                                            | image_url: width: 248
                                            | image_tag:
                                              class: '_w-full _h-full _object-cover group-hover/grandchildcard:_opacity-80',
                                              widths: '124, 248',
                                              width: 124,
                                              alt: active_grandchild.label
                                          }}
                                        {%- endif -%}
                                        <span class="_text-sm _font-link _pt-1">
                                          {{ grandchildlink.title }}
                                        </span>
                                      </div>
                                    </a>
                                  </li>
                                {%- endfor -%}
                              </ul>

                            {%- when 'product-carousel' -%}
                              {%- if active_child.collection_carousel != blank -%}
                                {%- assign collection_carousel_metaobject_content = active_child.collection_carousel.value -%}
                                <embla-slider data-lazy>
                                  <div class="_overflow-hidden _relative animation-content" data-js-embla>
                                    <div class="_flex md:_gap-7 _gap-4 _select-none" data-js-embla-container>
                                      {% assign skip_card_product_styles = false %}
                                      {%- for product in collection_carousel_metaobject_content.products limit: products_to_show -%}
                                        <div id="Slide-{{ section.id }}-{{ forloop.index }}"
                                          class="
                                          _w-2/3
                                          md:_w-1/2
                                          md:_max-w-[220px]
                                          _flex-none
                                          _flex
                                          _justify-center
                                          _items-center
                                          _snap-start
                                          _h-auto
                                        ">
                                          {% render 'wm__card-product',
                                            card_product: product,
                                            skip_styles: skip_card_product_styles,
                                            section_id: section.id,
                                            simple_card: true
                                          %}
                                        </div>
                                        {%- assign skip_card_product_styles = true -%}
                                      {%- endfor -%}
                                    </div>
                                    <button data-js-embla-prev class="_absolute _hidden _left-0 _top-1/2 _-translate-y-12 _bg-brand-light _text-brand-dark hover:_scale-110 _items-center _justify-center _w-10 _h-10 _rounded-full disabled:_opacity-40">
                                      <span class="svg-wrapper _rotate-180 _w-5">
                                        {{- 'arrow-chevron.svg' | inline_asset_content -}}
                                      </span>
                                    </button>
                                    <button data-js-embla-next class="_absolute _right-4 _top-1/2 _-translate-y-12  _bg-brand-light _text-brand-dark hover:_scale-110 _flex _items-center _justify-center _w-10 _h-10 _rounded-full _opacity-80 hover:_opacity-100 disabled:_opacity-0">
                                      <span class="svg-wrapper _w-5">
                                        {{- 'arrow-chevron.svg' | inline_asset_content -}}
                                      </span>
                                    </button>
                                  </div>
                                </embla-slider>
                              {%- else -%}
                                {% comment %} Copy of tile logic, make sure to update later {% endcomment %}
                                <ul
                                  role="list"
                                  aria-hidden="true"
                                  data-grandchild-panel="{{ childlink.handle }}"
                                  class="_grid _grid-cols-2 _gap-2 animation-content"
                                >
                                  {%- for grandchildlink in childlink.links -%}
                                    <li class="group/tile">
                                      <a
                                        href="{{ grandchildlink.url }}"
                                        class="_bg-brand-background-light _flex _flex-row _justify-between _items-center _h-full _py-2 _pr-3"
                                        {% if grandchildlink.current %}
                                          aria-current="page"
                                        {% endif %}
                                      >
                                        <div class="_flex _flex-row _items-center _gap-2">
                                          <span class="group-hover/tile:_underline _underline-offset-4 _no-underline _text-sm _font-link">
                                            {{ grandchildlink.title }}
                                          </span>
                                        </div>
                                        <span class="svg-wrapper _w-5">
                                          {{- 'arrow-chevron.svg' | inline_asset_content -}}
                                        </span>
                                      </a>
                                    </li>
                                  {%- endfor -%}
                                </ul>
                              {%- endif -%}

                            {%- else -%}
                              <div>ELSE</div>

                          {%- endcase -%}
                        </div>
                      {%- endunless -%}
                    {%- endfor -%}
                  </section>
                  
                  {% comment %} ➡️ RIGHT COLUMN: BANNER IMAGES {% endcomment %}
                  <aside aria-label="Featured content" class="_col-span-4 _border-l _border-brand-border _pt-10 mega-menu--padding-right">
                    <div class="_flex-grow _flex _flex-col _items-start _ml-8">
                      <h3 class="_font-heading-primary _text-2xl _text-brand-dark _mb-4">
                        Featured
                      </h3>
                      <div class="_flex _flex-row _gap-2.5 _w-full">
                        {%- for banner in banner_entries -%}
                          <div class="_flex-1 _flex _flex-col _relative _group/menubanner link-underline-trigger">
                            {%- assign media = banner.media.value -%}
                            <div class="_aspect-square _overflow-hidden _mb-2">
                              {%- if media.media_type == 'video' or media.media_type == 'external_video' -%}
                                {{ media | media_tag: class: '_w-full _h-full _object-cover group-hover/menubanner:_opacity-80', autoplay: true, loop: true, muted: true, controls: false }}
                              {%- elsif media.media_type == 'image' -%}
                                {{ media | image_url: width: 360 | image_tag: class: '_w-full _h-full _object-cover group-hover/menubanner:_opacity-80', widths: '360,720', width: 360, loading: 'lazy', alt: banner.title }}
                              {%- endif -%}
                            </div>
                            <div class="_flex-1 _flex _flex-col _justify-between _items-start">
                              {%- if banner.title -%}<h3 class="link-underline _text-sm _font-link _inline">{{ banner.title }}</h3>{%- endif -%}
                              {%- if banner.cta_text -%}
                                <a
                                  href="{{ banner.link.value.url }}"
                                  class="
                                    _button-secondary
                                    _text-sm
                                    _isolate
                                    before:_content-[''] before:_absolute before:_inset-0
                                  "
                                >
                                  {{- banner.cta_text | escape -}}
                                </a>
                              {%- elsif banner.link.value.url -%}
                                {% comment %} Hide button but keep URL active (just trust me) {% endcomment %}
                                <a
                                  href="{{ banner.link.value.url }}"
                                  class="
                                    _isolate
                                    before:_content-[''] before:_absolute before:_inset-0
                                  "
                                >
                                  {% comment %} Invisible character to prevent :empty CSS {% endcomment %}
                                  &#8203;
                                </a>
                              {%- endif -%}
                            </div>
                          </div>
                        {%- endfor -%}
                      </div>
                    </div>
                  </aside>
                </div>
              </div>
            </details>
          </details-hover-toggle>
        {%- else -%}
          {% comment %} Main link with no dropdown {% endcomment %}
          <a
            id="HeaderMenu-{{ link.handle }}"
            href="{{ link.url }}"
            class="_p-6 _h-full link-underline-trigger _text-sm _font-semibold _tracking-widest header-controlled--text _uppercase list-menu__item focus-inset"
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            <span class="link-underline">
              {{- link.title | escape -}}
            </span>
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav>
