{%- liquid
  assign fetch_priority = 'auto'
  if section.index == 1
    assign fetch_priority = 'high'
  endif
-%}

<div class="section-{{ section.id }} _mb-{{ section.settings.margin_bottom | divided_by: 2 }} md:_mb-{{ section.settings.margin_bottom }} _py-20{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
  <div class="_relative page-width _isolate">
    {% comment %} <div class="_absolute _inset-x-0 _top-16 _h-full _w-full _bg-brand-background _z-0 _pointer-events-none _block"></div> {% endcomment %}
    <div class="_grid md:_grid-cols-12 _grid-cols-1 _z-10 _gap-12 _isolate">
      <div class="md:_col-span-6 _col-span-1 _flex _flex-col _items-start _justify-center _order-2 md:_order-1">
        {% unless section.settings.top_heading == blank %}
          <h3 class="_font-heading-small _text-brand-dark _text-sm">
            {{ section.settings.top_heading }}
          </h3>
        {% endunless %}
        {% unless section.settings.main_heading == blank %}
          <h2 class="_font-heading-primary _text-brand-dark md:_text-3xl _text-2.5xl _mb-4">
            {{ section.settings.main_heading }}
          </h2>
        {% endunless %}
        <div class="_flex _flex-col _w-full">
          {%- for i in (1..5) -%}
            {%- assign icon_key = 'bullet_' | append: i | append: '_icon' -%}
            {%- assign title_key = 'bullet_' | append: i | append: '_title' -%}
            {%- assign description_key = 'bullet_' | append: i | append: '_description' -%}

            {%- assign icon = section.settings[icon_key] -%}
            {%- assign title = section.settings[title_key] -%}
            {%- assign description = section.settings[description_key] -%}

            <div class="_w-full _flex _flex-row _items-center _gap-3 _py-8{% unless forloop.last %} _border-b _border-brand-border{% endunless %}">
              <div class="_w-20 _flex _items-center _justify-center">
                {%- if icon -%}
                  {{
                    icon
                    | image_url: width: 100
                    | image_tag:
                      class: '_w-16',
                      width: 100,
                      height: 100
                  }}
                {%- endif -%}
              </div>
              <div>
                {%- if title -%}
                  <h3 class="_font-heading-primary _text-brand-dark _mb-3 md:_text-2xl _text-xl">
                    {{ title }}
                  </h3>
                {%- endif -%}
                {%- if description -%}
                  <p class="_text-brand-dark _text-base">
                    {{ description }}
                  </p>
                {%- endif -%}
              </div>
            </div>
          {%- endfor -%}

        </div>
        {%- unless section.settings.cta_text == blank -%}
          <a
            href="{{ section.settings.cta_url }}"
            class="_button-primary _mt-6"
          >
            {{- section.settings.cta_text -}}
          </a>
        {%- endunless -%}
      </div>
      <div class="md:_col-span-6 _col-span-1 _flex _flex-row">
        <div class="_flex _flex-row _gap-4 _w-full">
          <div class="_w-1/2 _flex _flex-col _h-full _justify-center">
            <div
              class="_aspect-[2/3] _w-full _z-10 _relative{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
              {% if settings.animations_reveal_on_scroll %}
                data-cascade
                style="--animation-order: 0;"
              {% endif %}
            >
              {%- if section.settings.image_1 -%}
                {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
                {%- capture sizes -%}
                  (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                  (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                {%- endcapture -%}
                {{
                  section.settings.image_1
                  | image_url: width: 1500
                  | image_tag:
                    class: '_w-full _h-full _object-cover',
                    fetchpriority: fetch_priority, sizes: sizes, widths: widths
                }}
              {%- endif -%}
            </div>
          </div>
          <div class="_w-1/2 _h-full _flex _flex-col _gap-4 _justify-center">
            {%- for i in (2..3) -%}
              <div
                class="_aspect-[4/5] _z-10 _relative{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index0 }};"
                {% endif %}
              >
                {%- assign image_key = 'image_' | append: i -%}
                {%- assign image = section.settings[image_key] -%}
  
                {%- if image -%}
                  {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
                  {%- capture sizes -%}
                    (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                    (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                  {%- endcapture -%}
                  {{
                    image
                    | image_url: width: 1500
                    | image_tag:
                      class: '_w-full _h-full _object-cover',
                      fetchpriority: fetch_priority, sizes: sizes, widths: widths
                  }}
                {%- endif -%}
              </div>
            {%- endfor -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "WM ImageBlock 2",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "top_heading",
      "default": "t:sections.footer.blocks.link_list.settings.heading.default",
      "label": "Top Heading"
    },
    {
      "type": "inline_richtext",
      "id": "main_heading",
      "default": "t:sections.footer.blocks.link_list.settings.heading.default",
      "label": "Main Heading"
    },
    {
      "type": "text",
      "id": "cta_text",
      "label": "CTA Text",
      "default": "See all"
    },
    {
      "type": "url",
      "id": "cta_url",
      "label": "Pick URL for button"
    },
    {
      "type": "header",
      "content": "Bullet points controls"
    },
    {
      "type": "inline_richtext",
      "id": "bullet_1_title",
      "default": "Trusted by Professionals",
      "label": "Bullet 1 title"
    },
    {
      "type": "inline_richtext",
      "id": "bullet_1_description",
      "default": "Backed by leading aestheticians, dermatologists, and skincare experts",
      "label": "Bullet 1 description"
    },
    {
      "type": "image_picker",
      "id": "bullet_1_icon",
      "label": "Bullet 1 Icon"
    },
    {
      "type": "inline_richtext",
      "id": "bullet_2_title",
      "default": "Trusted by Professionals",
      "label": "Bullet 2 title"
    },
    {
      "type": "inline_richtext",
      "id": "bullet_2_description",
      "default": "Backed by leading aestheticians, dermatologists, and skincare experts",
      "label": "Bullet 2 description"
    },
    {
      "type": "image_picker",
      "id": "bullet_2_icon",
      "label": "Bullet 2 Icon"
    },
    {
      "type": "inline_richtext",
      "id": "bullet_3_title",
      "default": "Trusted by Professionals",
      "label": "Bullet 3 title"
    },
    {
      "type": "inline_richtext",
      "id": "bullet_3_description",
      "default": "Backed by leading aestheticians, dermatologists, and skincare experts",
      "label": "Bullet 3 description"
    },
    {
      "type": "image_picker",
      "id": "bullet_3_icon",
      "label": "Bullet 3 Icon"
    },
    {
      "type": "inline_richtext",
      "id": "bullet_4_title",
      "default": "Trusted by Professionals",
      "label": "Bullet 4 title"
    },
    {
      "type": "inline_richtext",
      "id": "bullet_4_description",
      "default": "Backed by leading aestheticians, dermatologists, and skincare experts",
      "label": "Bullet 4 description"
    },
    {
      "type": "image_picker",
      "id": "bullet_4_icon",
      "label": "Bullet 4 Icon"
    },
    {
      "type": "inline_richtext",
      "id": "bullet_5_title",
      "default": "Trusted by Professionals",
      "label": "Bullet 5 title"
    },
    {
      "type": "inline_richtext",
      "id": "bullet_5_description",
      "default": "Backed by leading aestheticians, dermatologists, and skincare experts",
      "label": "Bullet 5 description"
    },
    {
      "type": "image_picker",
      "id": "bullet_5_icon",
      "label": "Bullet 5 Icon"
    },
    {
      "type": "header",
      "content": "Images"
    },
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "Main image 1"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Main image 2"
    },
    {
      "type": "image_picker",
      "id": "image_3",
      "label": "Main image 3"
    },
    {
      "type": "header",
      "content": "Margin bottom controls"
    },
    {
      "type": "select",
      "id": "margin_bottom",
      "options": [
        {
          "value": "0",
          "label": "0rem"
        },
        {
          "value": "2",
          "label": "0.5rem"
        },
        {
          "value": "4",
          "label": "1rem"
        },
        {
          "value": "6",
          "label": "1.5rem"
        },
        {
          "value": "8",
          "label": "2rem"
        },
        {
          "value": "12",
          "label": "3rem"
        },
        {
          "value": "16",
          "label": "4rem"
        }
      ],
      "default": "12",
      "label": "Margin bottom"
    }
  ],
  "presets": [
    {
      "name": "WM ImageBlock 2"
    }
  ]
}
{% endschema %}
