{%- liquid
  assign fetch_priority = 'auto'
  if section.index == 1
    assign fetch_priority = 'high'
  endif
-%}

<div class="section-{{ section.id }} _mb-{{ section.settings.margin_bottom | divided_by: 2 }} md:_mb-{{ section.settings.margin_bottom }} _py-10{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
  <div class="_relative page-width _isolate">
    <div class="_grid md:_grid-cols-12 _grid-cols-1 _z-10 _isolate">
      <div class="md:_col-span-5 _col-span-1 _flex _flex-col _items-start _justify-center _order-2 md:_pl-20 md:_py-12 _py-8 _max-w-96">
        {% unless section.settings.top_heading == blank %}
          <h3 class="_font-heading-small _text-brand-dark _text-sm">
            {{ section.settings.top_heading }}
          </h3>
        {% endunless %}
        {% unless section.settings.main_heading == blank %}
          <h2 class="_font-heading-primary _text-brand-dark md:_text-4xl _text-2.5xl _mt-1">
            {{ section.settings.main_heading }}
          </h2>
        {% endunless %}
        {% unless section.settings.description == blank %}
          <div class="_text-base _mt-4">
            {{ section.settings.description }}
          </div>
        {% endunless %}
        {%- unless section.settings.cta_text == blank -%}
          <a
            href="{{ section.settings.cta_url }}"
            class="_button-primary _mt-6"
          >
            <span>{{- section.settings.cta_text -}}</span>
          </a>
        {%- endunless -%}
      </div>
      <div class="md:_col-span-7 _col-span-1 _flex _flex-row">
        <div
          class="_flex-1 _w-full _aspect-[7/6] _overflow-hidden{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {% if settings.animations_reveal_on_scroll %}
            data-cascade
            style="--animation-order: 1;"
          {% endif %}
        >
          {%- assign hotspot_block_counter = 0 -%}
          {%- assign skip_script = false -%}
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'hotspot' -%}
                {%- if hotspot_block_counter > 0 -%}
                  {%- assign skip_script = true -%}
                {%- endif -%}
                {% render 'wm__hotspot',
                  skip_script: skip_script,
                  block_id: block.id,
                  product_select: block.settings.product_select,
                  hotspot_position_horizontal_reverse: block.settings.hotspot_position_horizontal_reverse,
                  hotspot_position_vertical_reverse: block.settings.hotspot_position_vertical_reverse,
                  hotspot_position_mobile_horizontal_reverse: block.settings.hotspot_position_mobile_horizontal_reverse,
                  hotspot_position_mobile_vertical_reverse: block.settings.hotspot_position_mobile_vertical_reverse,
                  hotspot_position_horizontal: block.settings.hotspot_position_horizontal,
                  hotspot_position_vertical: block.settings.hotspot_position_vertical,
                  hotspot_position_mobile_horizontal: block.settings.hotspot_position_mobile_horizontal,
                  hotspot_position_mobile_vertical: block.settings.hotspot_position_mobile_vertical
                %}
            {%- endcase -%}
          {%- endfor -%}

          {%- if section.settings.video -%}
            {{ section.settings.video | media_tag: image_size: '2048x',
              autoplay: true, loop: true, muted: true, controls: false, preload: 'none',
              class: "_object-cover _w-full _h-full" }}

          {%- elsif section.settings.image -%}
            {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
            {%- capture sizes -%}
              (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
              (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
            {%- endcapture -%}
            {{
              section.settings.image
              | image_url: width: 1500
              | image_tag:
                class: '_w-full _h-full _object-cover',
                fetchpriority: fetch_priority, sizes: sizes, widths: widths
            }}
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "WM ImageBlock 3",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "top_heading",
      "default": "t:sections.footer.blocks.link_list.settings.heading.default",
      "label": "Top Heading"
    },
    {
      "type": "inline_richtext",
      "id": "main_heading",
      "default": "t:sections.footer.blocks.link_list.settings.heading.default",
      "label": "Main Heading"
    },
    {
      "type": "inline_richtext",
      "id": "description",
      "default": "Description text",
      "label": "Description text"
    },
    {
      "type": "text",
      "id": "cta_text",
      "label": "CTA Text",
      "default": "See all"
    },
    {
      "type": "url",
      "id": "cta_url",
      "label": "Pick URL for button"
    },
    {
      "type": "header",
      "content": "Images"
    },
    {
      "type": "video",
      "id": "video",
      "label": "Main video"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Main image"
    },
    {
      "type": "header",
      "content": "Margin bottom controls"
    },
    {
      "type": "select",
      "id": "margin_bottom",
      "options": [
        {
          "value": "0",
          "label": "0rem"
        },
        {
          "value": "2",
          "label": "0.5rem"
        },
        {
          "value": "4",
          "label": "1rem"
        },
        {
          "value": "6",
          "label": "1.5rem"
        },
        {
          "value": "8",
          "label": "2rem"
        },
        {
          "value": "12",
          "label": "3rem"
        },
        {
          "value": "16",
          "label": "4rem"
        }
      ],
      "default": "12",
      "label": "Margin bottom"
    }
  ],
  "blocks": [
    {
      "type": "hotspot",
      "name": "Product Hotspot",
      "settings": [
        {
          "type": "product",
          "id": "product_select",
          "label": "t:sections.featured-product.settings.product.label"
        },
        {
          "type": "range",
          "id": "hotspot_position_horizontal",
          "min": 0,
          "max": 40,
          "step": 1,
          "default": 0,
          "label": "Desktop hotspot position X"
        },
        {
          "type": "checkbox",
          "id": "hotspot_position_horizontal_reverse",
          "default": false,
          "label": "Reverse desktop hotspot position X"
        },
        {
          "type": "range",
          "id": "hotspot_position_vertical",
          "min": 0,
          "max": 40,
          "step": 1,
          "default": 0,
          "label": "Desktop hotspot position Y"
        },
        {
          "type": "checkbox",
          "id": "hotspot_position_vertical_reverse",
          "default": false,
          "label": "Reverse desktop hotspot position Y"
        },
        {
          "type": "range",
          "id": "hotspot_position_mobile_horizontal",
          "min": 0,
          "max": 40,
          "step": 1,
          "default": 0,
          "label": "Mobile hotspot position X"
        },
        {
          "type": "checkbox",
          "id": "hotspot_position_mobile_horizontal_reverse",
          "default": false,
          "label": "Reverse mobile hotspot position X"
        },
        {
          "type": "range",
          "id": "hotspot_position_mobile_vertical",
          "min": 0,
          "max": 40,
          "step": 1,
          "default": 0,
          "label": "Mobile hotspot position Y"
        },
        {
          "type": "checkbox",
          "id": "hotspot_position_mobile_vertical_reverse",
          "default": false,
          "label": "Reverse mobile hotspot position Y"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "WM ImageBlock 3",
      "blocks": [
        {
          "type": "hotspot"
        }
      ]
    }
  ]
}
{% endschema %}
