{% comment %} 
  This is the main section that controls metaobjects for PDP
{% endcomment %}

{% assign product_lp_entries = product.metafields.custom.product_lp_entries_footer.value %}

{%- unless product_lp_entries == blank -%}
  <div class="section-{{ section.id }}">
    {%- for entry in product_lp_entries -%}
      {%- case entry.type -%}
        {%- when "product_lp_cta_block" -%}
          {%- style -%}
            #Banner-{{ section.id }}-{{ forloop.index }}::after {
              content: '';
              display: block;
              opacity: {% if entry.image_overlay_opacity %} {{ entry.image_overlay_opacity | divided_by: 100.0 }}{% else %} 0{% endif %};
              position: absolute;
              width: 100%;
              height: 100%;
              background-color: var(--color-overlay-color);
            }
          {%- endstyle -%}

          <div
            id="Banner-{{ section.id }}-{{ forloop.index }}"
            class="
              _flex
              _relative
              _isolate
              _z-auto
              _flex-col
              md:_flex-row
              _h-auto
              {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}
            "
          >
            {%- if entry.media != blank -%}

              {% comment %} banner__media, media {% endcomment %}
              <div class="_absolute _top-0 _left-0 _w-full _h-full _block _bg-brand-background _overflow-hidden{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
                {%- assign media_classes = "md:_block _hidden _object-cover _object-center _max-w-full _top-0 _left-0 _h-full _w-full" -%}
                {%- assign media_classes_mobile = "_block md:_hidden _object-cover _object-center _max-w-full _top-0 _left-0 _h-full _w-full" -%}

                {%- if entry.mobile_media.value != blank -%}
                  {%- if entry.mobile_media.value.media_type == 'video' -%}
                    {{ entry.mobile_media.value | video_tag: controls: false, preload: 'metadata', autoplay: true, muted: true, loop: true, width: '100%', height: '100%', class: media_classes_mobile }}
                  {%- else -%}
                    {{ entry.mobile_media.value | image_url: width: 1000 | image_tag: loading: 'lazy', width: '100%', height: '100%', class: media_classes_mobile }}
                  {%- endif -%}

                  {%- if entry.media.value.media_type == 'video' -%}
                    {{ entry.media.value | video_tag: controls: false, preload: 'metadata', autoplay: true, muted: true, loop: true, width: '100%', height: '100%', class: media_classes }}
                  {%- else -%}
                    {{ entry.media.value | image_url: width: 1000 | image_tag: loading: 'lazy', width: '100%', height: '100%', class: media_classes }}
                  {%- endif -%}
                {%- else -%}
                  {%- if entry.media.value.media_type == 'video' -%}
                    {{ entry.media.value | video_tag: controls: false, preload: 'metadata', autoplay: true, muted: true, loop: true, width: '100%', height: '100%', class: media_classes }}
                  {%- else -%}
                    {{ entry.media.value | image_url: width: 1000 | image_tag: loading: 'lazy', width: '100%', height: '100%', class: media_classes }}
                  {%- endif -%}

                {%- endif -%}
              </div>
            {%- endif -%}

            <div class="
              _flex
              _relative
              _w-full
              _h-full
              _z-20
              _items-center
              _justify-center
              md:_items-center
              md:_justify-center
              page-width
              {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}
            ">
              <div class="
                _text-wrap
                _z-10
                _relative
                _py-24
                _text-center
                
                _flex _flex-col _items-center _justify-center
              ">
                {%- unless entry.top_heading == blank -%}
                  <h3 class="
                    _font-heading-small _text-sm md:_mb-1
                    _text-brand-light
                  ">
                    {{ entry.top_heading }}
                  </h3>
                {%- endunless -%}
                {%- unless entry.main_heading == blank -%}
                  <h2 class="
                    _font-heading-primary md:_text-5xl _text-3xl md:_w-[490px]
                    _text-brand-light
                  ">
                    {{ entry.main_heading }}
                  </h2>
                {% endunless %}
                {%- unless entry.description == blank -%}
                  <div class="
                    _text-lg _mt-4 md:_w-[400px]
                    _text-brand-light
                  ">
                    {{ entry.description | metafield_tag }}
                  </div>
                {%- endunless -%}
                {%- unless entry.cta_text == blank -%}
                  <div class="md:_mt-8 _mt-6">
                    <a
                      {% if entry.cta_url == blank %}
                        role="link" aria-disabled="true"
                      {% else %}
                        href="{{ entry.cta_url }}"
                      {% endif %}
                      class="
                        _button-primary
                      "
                    >
                      <span>{{- entry.cta_text | escape -}}</span>
                    </a>
                  </div>
                {%- endunless -%}
              </div>
            </div>
          </div>

      {%- endcase -%}
    {%- endfor -%}
  </div>
{%- endunless -%}

{% schema %}
{
  "name": "WM PDP MetaBlocks Footer",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
  ],
  "presets": [
    {
      "name": "WM PDP MetaBlocks Footer"
    }
  ]
}
{% endschema %}
