{% comment %} 
  This should be controllable by EITHER:
  - Section settings
  - Metaobjects
{% endcomment %}

<div class="section-{{ section.id }} _py-12 _mb-{{ section.settings.margin_bottom | divided_by: 2 }} md:_mb-{{ section.settings.margin_bottom }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
  <div class="page-width">
    {%- unless section.settings.top_heading == blank -%}
      <h3 class="_font-heading-small _text-brand-dark _text-sm _mb-1">
        {{ section.settings.top_heading }}
      </h3>
    {%- endunless -%}
    {%- unless section.settings.main_heading == blank -%}
      <h2 class="_font-heading-primary _text-brand-dark md:_text-2.5xl _text-2.5xl _mb-10">
        {{ section.settings.main_heading }}
      </h2>
    {%- endunless -%}
    <div class="_grid _grid-cols-1 md:_grid-cols-12 _gap-6">
      <div class="{%- if section.settings.right_side_show -%} _col-span-full md:_col-span-7{%- else -%} _col-span-full{%- endif -%}">
        {%- if section.settings.data_source == 'meta_objects' -%}
 
          {% assign faq_entries = metaobjects.faq_entries[section.settings.meta_object_source] %}

          {%- for faq in faq_entries.faq.value -%}
            <animated-details>
              <details class="_border-t _border-brand-border {% if forloop.last %} _border-b{% endif %}">
                <summary class="_py-5 _flex _justify-between _items-center _w-full _group/faq">
                  <span class=" _text-brand-dark _font-body-fancy _text-xl">{{ faq.question }}</span>
                  <span class="svg-wrapper _w-6 _h-6 group-hover/faq:_scale-110 _text-brand-primary-500" data-js-plus-icon>
                  {{- 'icon-newbuild-plus-thin.svg' | inline_asset_content -}}
                  </span>
                </summary>
                <div class="
                    md:_text-base _text-sm
                    _prose
                    _pb-6
                ">
                    {{ faq.answer | metafield_tag }}
                </div>
              </details>
            </animated-details>
          {%- endfor -%}

        {%- elsif section.settings.data_source == 'block_settings' -%}
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'faq' -%}
                <animated-details>
                  <details class="_border-t _border-brand-border {% if forloop.last %} _border-b{% endif %}">
                    <summary class="_py-5 _flex _justify-between _items-center _w-full _group/faq">
                        <span class=" _text-brand-dark _font-heading-primary _text-xl">{{ block.settings.question }}</span>
                        <span class="svg-wrapper _w-6 _h-6 group-hover/faq:_scale-110 _text-brand-primary-500" data-js-plus-icon>
                        {{- 'icon-newbuild-plus-thin.svg' | inline_asset_content -}}
                        </span>
                    </summary>
                    <div class="
                        md:_text-base _text-sm
                        _prose
                        _pb-6
                    ">
                      {{ block.settings.answer }}
                    </div>
                  </details>
                </animated-details>
            {%- endcase -%}
          {%- endfor -%}
        {%- endif -%}
      </div>
      {%- if section.settings.right_side_show -%}
        <div class="_col-span-full md:_col-span-5{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
          <div class="_flex _flex-col _items-start _bg-brand-background-light _px-6 _py-10 md:_px-16 md:_py-16">
            {%- unless section.settings.side_box_heading == blank -%}
              <h2 class="_font-heading-primary _text-brand-dark md:_text-2.5xl _text-2xl _mb-4">
                {{ section.settings.side_box_heading }}
              </h2>
            {%- endunless -%}
            {%- unless section.settings.side_box_content == blank -%}
              <div class="_prose _text-base">
                {{ section.settings.side_box_content }}
              </div>
            {%- endunless -%}
            {%- unless section.settings.side_box_cta_label == blank -%}
              <a
                {% if section.settings.side_box_cta_url == blank %}
                  role="link" aria-disabled="true"
                {% else %}
                  href="{{ section.settings.side_box_cta_url }}"
                {% endif %}
                class="
                  _button-primary _mt-8
                "
              >
                <span>{{- section.settings.side_box_cta_label | escape -}}</span>
              </a>
            {%- endunless -%}
          </div>
        </div>
      {%- endif -%}
    </div>
  </div>
</div>

{% comment %} Metaobject shape: faq_entries.faq.question / answer {% endcomment %}
{% schema %}
{
  "name": "WM FAQ section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "select",
      "id": "data_source",
      "options": [
        {
          "value": "meta_objects",
          "label": "Meta Objects"
        },
        {
          "value": "block_settings",
          "label": "Section Blocks"
        }
      ],
      "default": "block_settings",
      "label": "Select data source for FAQs",
      "info": "Default is section blocks, but if you set it to metaobjects it'll default to that"
    },
    {
      "type": "metaobject",
      "id": "meta_object_source",
      "label": "Select metaobject if turned on",
      "metaobject_type": "faq_entries"
    },
    {
      "type": "inline_richtext",
      "id": "top_heading",
      "default": "Frequently Asked Questions",
      "label": "Top Heading"
    },
    {
      "type": "inline_richtext",
      "id": "main_heading",
      "default": "FAQ",
      "label": "Main Heading"
    },
    {
      "type": "header",
      "content": "Right side content"
    },
    {
      "type": "checkbox",
      "id": "right_side_show",
      "default": true,
      "label": "Turn on right-side content box"
    },
    {
      "type": "inline_richtext",
      "id": "side_box_heading",
      "default": "Still Looking For an Answer",
      "label": "Side Box - Heading"
    },
    {
      "type": "inline_richtext",
      "id": "side_box_content",
      "default": "Send our team an email and we’ll get back to you ASAP (definitely within 24 hours).",
      "label": "Side Box - Content"
    },
    {
      "type": "text",
      "id": "side_box_cta_label",
      "default": "Contact us",
      "label": "Pick a label for button (leave empty to remove)"
    },
    {
      "type": "url",
      "id": "side_box_cta_url",
      "label": "Pick a URL for button"
    },
    {
      "type": "header",
      "content": "Margin bottom controls"
    },
    {
      "type": "select",
      "id": "margin_bottom",
      "options": [
        {
          "value": "0",
          "label": "0rem"
        },
        {
          "value": "2",
          "label": "0.5rem"
        },
        {
          "value": "4",
          "label": "1rem"
        },
        {
          "value": "6",
          "label": "1.5rem"
        },
        {
          "value": "8",
          "label": "2rem"
        },
        {
          "value": "12",
          "label": "3rem"
        },
        {
          "value": "16",
          "label": "4rem"
        }
      ],
      "default": "0",
      "label": "Margin bottom"
    }
  ],
  "blocks": [
    {
      "type": "faq",
      "name": "Faq Q&A",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "question",
          "label": "Question"
        },
        {
          "type": "richtext",
          "id": "answer",
          "label": "Answer"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "WM FAQ section",
      "blocks": [
        {
          "type": "faq"
        }
      ]
    }
  ]
}
{% endschema %}