{% comment %} 
  TEST: section for ConvertFlow quiz results designed to pick up UTMs and use to generate quiz results

  {
    skincare_routine: [hero_product, simple_routine, luxury_routine],
    sensitive_skin: [sensitive_skin_yes, sensitive_skin_no],
    skin_goal: [youthful_skin, oil_control, hydration, improve_dull_skin, reduce_redness, even_skin_tone, reduce_acne],
    skin_type: [oily, dry, normal, combination]
  }
{% endcomment %}

{% comment %} TODO: note - ConvertFlow code is at bottom of this page {% endcomment %}

{% style %}
  .content-block.hidden,
  .loading__spinner--block.hidden {
    display: none;
    opacity: 0;
  }
  .content-block,
  .loading__spinner--block {
    display: block;
    opacity: 1;
  }
  /* [data-success]:not(hidden) {
    animation: var(--animation-slide-in);
  } */
{% endstyle %}

{% comment %} _bg-brand-background-light {% endcomment %}
<div class="_w-full">
  <div class="page-width _max-w-[920px] _bg-brand-light _py-16">
    <div class="_pb-12 _text-center{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
        <h2 class="_font-heading-primary _text-brand-dark md:_text-2.5xl _text-2xl _mt-1">
          Claim your complimentary gifts
        </h2>
        <div class="md:_text-lg _text-base _mt-4 _prose">
          <p class="_mb-6">
            <span class="_font-heading-small">STEP 1:</span> add two travel-sized gifts to your cart (Daily Drench and Pre-Treatment Toner)
          </p>

          <div class="_flex _flex-row _justify-center _items-center _gap-2">
            <add-to-cart-component variants="41562314506379:1,40941346029707:1" class="_flex _flex-col _items-center _gap-1">
              <button class="_button-secondary">
                <span>ADD GIFTS TO CART</span>
              </button>
              <p class="_text-brand-grey _text-sm">(Click to add gifts to cart)</p>
            </add-to-cart-component>

            {%- if section.settings.free_gift_image -%}
              {{
                section.settings.free_gift_image
                | image_url: width: 260
                | image_tag:
                class: '_w-20 _h-full _-mt-5',
                width: 260,
                height: 260
              }}
            {%- endif -%}
          </div>

          <p class="_my-6">
            <span class="_font-heading-small">STEP 2:</span> spend £90 or more (on this page, or anywhere on site)
          </p>
          <p class="_my-6">
            <span class="_font-heading-small">STEP 3:</span> apply the discount code below at checkout to unlock your free gifts
          </p>
          <copy-to-clipboard class="_flex _flex-col _items-center _gap-1">
            <button type="button" class="_button-primary">
              <span>PEPTIDES90</span>
            </button>
            <p data-success="" text="Copied, apply at checkout" class="_text-brand-grey _text-sm">(Click code to copy)</p>
          </copy-to-clipboard>
          {% comment %}
            <p class="_mt-6">
              Simply <add-to-cart-component variants="41562314506379:1,40941346029707:1"><a class="_text-underline _underline-offset-4 _cursor-pointer">add both gifts to your basket</a></add-to-cart-component> and enter the code at checkout to redeem.
            </p>
          {% endcomment %}
        </div>
      {% comment %} {%- unless section.settings.cta_text == blank -%}
        <a
          href="{{ section.settings.cta_url }}"
          class="_button-primary _mt-6"
        >
          <span>{{- section.settings.cta_text -}}</span>
        </a>
      {%- endunless -%} {% endcomment %}
    </div>


    <quiz-results-page>
      <div class="loading__spinner--block hidden _flex _min-h-72 _items-center _justify-center">
        {%- render 'loading-spinner' -%}
      </div>
      <div class="content-block hidden" id="output">
        <div data-js-block="product_hero" class="_hidden _border-t _border-brand-border _mb-20">
          <div class="_flex _flex-row _items-center _flex-wrap _gap-2 _mt-8 _mb-12">
            {%- if section.settings.routine_image_hero -%}
              {{
                section.settings.routine_image_hero
                | image_url: width: 100
                | image_tag:
                class: '_w-10',
                width: 100,
                height: 100
              }}
            {%- endif -%}
            <h2 class="_font-heading-primary md:_text-2.5xl _text-[30px]">Your big hero product</h2>
          </div>
          <div data-js-content class="_flex _flex-col _gap-12"></div>
        </div>
        <div data-js-block="product_routine" class="_hidden _border-t _border-brand-border _mb-20">
          <div class="_flex _flex-row _items-center _flex-wrap _gap-2 _mt-8 _mb-12">
            {%- if section.settings.routine_image_routine -%}
              {{
                section.settings.routine_image_routine
                | image_url: width: 100
                | image_tag:
                  class: '_w-10',
                  width: 100,
                  height: 100
              }}
            {%- endif -%}
            <h2 class="_font-heading-primary md:_text-2.5xl _text-[30px]">Your AM & PM routine</h2>
          </div>
          <div data-js-content class="_flex _flex-col _gap-12"></div>
        </div>
        <div data-js-block="product_pm_only" class="_hidden _border-t _border-brand-border _mb-20">
          <div class="_flex _flex-row _items-center _flex-wrap _gap-2 _mt-8 _mb-12">
            {%- if section.settings.routine_image_pm -%}
              {{
                section.settings.routine_image_pm
                | image_url: width: 100
                | image_tag:
                  class: '_w-10',
                  width: 100,
                  height: 100
              }}
            {%- endif -%}
            <h2 class="_font-heading-primary md:_text-2.5xl _text-[30px]">Your PM-only routine</h2>
          </div>
          <div data-js-content class="_flex _flex-col _gap-12"></div>
        </div>
        <div data-js-block="product_bonus" class="_hidden _border-t _border-brand-border _mb-20">
          <div class="_flex _flex-row _items-center _flex-wrap _gap-2 _mt-8 _mb-12">
            {%- if section.settings.routine_image_bonus -%}
              {{
                section.settings.routine_image_bonus
                | image_url: width: 100
                | image_tag:
                  class: '_w-10',
                  width: 100,
                  height: 100
              }}
            {%- endif -%}
            <h2 class="_font-heading-primary md:_text-2.5xl _text-[30px]">Your bonus</h2>
          </div>
          <div data-js-content class="_flex _flex-col _gap-12"></div>
        </div>
      </div>

      <template data-js-product-card-template>
        <simple-product-card data-js-product-handle>
          <div class="_grid _grid-cols-5 _gap-4">
            <div class="md:_col-span-2 _col-span-full">
              <div class="_flex _justify-center _items-center _aspect-square _bg-brand-background-light">
                <img data-js-product-image height="100%" width="100%">
              </div>
            </div>
            <div class="md:_col-span-3 _col-span-full">
              <h2 class="_font-heading-primary _text-2xl _mb-2" data-js-product-title></h2>
              <p class="_prose _text-base _mb-6" data-js-product-description></p>
              
              {%- assign product_form_id = 'product-form-' | append: section.id -%}
              <div class="_flex _flex-row _items-start _flex-wrap _gap-2">
                {%- form 'product',
                  section.settings.default_product,
                  id: product_form_id,
                  class: 'form',
                  novalidate: 'novalidate',
                  data-type: 'add-to-cart-form'
                -%}
                  <input
                    type="hidden"
                    name="id"
                    value="" {% comment %} DO SOMETHING HERE {% endcomment %}
                    disabled
                    class="product-variant-id"
                  >
                  <button
                    id="ProductSubmitButton-{{ section.id }}"
                    type="submit"
                    name="add"
                    class="_button-secondary"
                    data-js-product-main-cta
                  >
                    <span>
                      <span data-js-product-cta-text>Add to cart</span>
                    </span>
                    {%- render 'loading-spinner' -%}
                  </button>
                {%- endform -%}
                {% comment %} <a
                  class="_button-primary"
                  data-js-product-main-url
                >
                  <span>
                    See product
                  </span>
                </a> {% endcomment %}
              </div>
            </div>
          </div>
        </simple-product-card>
      </template>
    </quiz-results-page>


    <div class="_pb-12 _pt-20 _text-center _border-t _border-brand-border">
        <h2 class="_font-heading-primary _text-brand-dark md:_text-2.5xl _text-2xl _mt-1">
          The HydroPeptide Difference
        </h2>
        <div class="md:_text-lg _text-base _mt-4 _prose">
          <p class="_mb-8">
            Hear from Dr Lauren Jamieson on why our peptides and epigenetic science make all the difference in your personalised regimen.
          </p>
        </div>
        <div class="_w-full">
          {% comment %} Using video snippet here, too clunky for "flex" so manually positioning {% endcomment %}
          <div class="_max-w-[400px] _mx-auto">
            {% unless section.settings.video == blank %}
                {% render 'wm__video-snippet',
                  video: section.settings.video,
                  enable_video_looping: false
                %}
            {% endunless %}
          </div>
        </div>
    </div>
  </div>
</div>

<script defer>
  class QuizResultsPage extends HTMLElement {
    async connectedCallback() {
      const ALLOWED_KEYS = ['skincare_routine', 'skin_goal', 'skin_type', 'sensitive_skin'];

      const spinner = this.querySelector('.loading__spinner');
      const spinnerBlock = this.querySelector('.loading__spinner--block');
      if (spinner) spinner.classList.toggle('hidden');
      if (spinnerBlock) spinnerBlock.classList.toggle('hidden');

      const output = this.querySelector('#output');
      const params = new URLSearchParams(window.location.search);

      const rawFilters = Object.fromEntries(params.entries());
      const filters = Object.fromEntries(Object.entries(rawFilters).filter(([k]) => ALLOWED_KEYS.includes(k)));

      try {
        const res = await fetch('{{ 'wm__quiz-results-product-matrix.json' | asset_url }}');
        const data = await res.json();

        const routineSubset = data.filter(
          item => item.skincare_routine === filters.skincare_routine
        );

        const match = routineSubset.find(item =>
          Object.keys(filters).every(key => item[key] === filters[key])
        );

        if (!match) {
          console.warn("No match found for:", filters);
          output.innerHTML = `<p>No matching product found.</p>`;
          return;
        }

        const isHero = filters.skincare_routine === 'hero_product';

        if (isHero) {
          this.renderProductsFromHandles(match.product_hero, this.querySelector('[data-js-block="product_hero"]'));
        } else {
          this.renderProductsFromHandles(match.product_routine, this.querySelector('[data-js-block="product_routine"]'));
          this.renderProductsFromHandles(match.product_pm_only, this.querySelector('[data-js-block="product_pm_only"]'));
          this.renderProductsFromHandles(match.product_bonus, this.querySelector('[data-js-block="product_bonus"]'));
        }

        console.log(`Matched:`);
        console.log(match);
      } catch (err) {
        console.error("Error fetching quiz results:", err);
        output.innerHTML = `<p>Something went wrong. Try again later.</p>`;
      } finally {
        setTimeout(() => {
          if (spinner) spinner.classList.toggle('hidden');
          if (spinnerBlock) spinnerBlock.classList.toggle('hidden');
          const contentBlock = this.querySelector('.content-block');
          if (contentBlock) contentBlock.classList.remove('hidden');
        }, 300);
      }
    }

    renderProductsFromHandles(handlesString, outputElement) {
      const handles = handlesString.split(',').map(h => h.trim()).filter(Boolean);
      if (!handles.length) return;
      const template = this.querySelector('[data-js-product-card-template]');

      handles.forEach(handle => {
        const clone = template.content.cloneNode(true);
        const card = clone.querySelector('simple-product-card');
        card.setAttribute('data-js-product-handle', handle);
        outputElement.querySelector('[data-js-content]').appendChild(clone);
      });
      outputElement.classList.toggle('_hidden');
    }
  }

  customElements.define('quiz-results-page', QuizResultsPage);

  class SimpleProductCard extends HTMLElement {
    constructor() {
      super();
      this.variant = '';
    }

    async connectedCallback() {
      const handle = this.dataset.jsProductHandle;
      if (!handle) return;

      this.buttonEl = this.querySelector('[data-js-product-main-cta]');
      if (!this.buttonEl) {
        console.warn('CTA not found inside simple-product-card');
        return;
      }

      try {
        const res = await fetch(`/products/${handle}.js`);
        const product = await res.json();

        {% comment %} console.log("PRODUCT:");
        console.log(product); {% endcomment %}

        this.querySelector('[data-js-product-title]').textContent = product.title;
        this.querySelector('[data-js-product-image]').src = product.media[0].src;
        this.querySelector('[data-js-product-description]').innerHTML = product.description;
        this.renderCTA(product);
        {% comment %} this.querySelector('[data-js-product-main-url]').href = product.url; {% endcomment %}
      } catch (err) {
        console.error(`Error fetching product ${handle}:`, err);
        this.innerHTML = `<p class="_text-red-500">Error loading product</p>`;
      }
    }

    formatMoney(pence, currency = 'GBP', locale = 'en-GB') {
      const formatted = new Intl.NumberFormat(locale, {
        style: 'currency',
        currency: currency,
        minimumFractionDigits: 2,
        maximumFractionDigits: 2
      }).format(pence / 100);

      return formatted.replace(/\.00$/, '');
    }

    renderCTA(product) {
      const variant = product.variants[0];
      const price = this.formatMoney(variant.price);

      const ctaTextEl = this.buttonEl.querySelector('[data-js-product-cta-text]');
      ctaTextEl.textContent = product.available && variant.available
        ? `Add ${price} to Cart`
        : "Not available";

      this.buttonEl.disabled = !product.available || !variant.available;

      const form = this.querySelector('[data-type="add-to-cart-form"]');
      const variantInput = form?.querySelector('input[name="id"]');
      if (variantInput) {
        variantInput.value = variant.id;
        variantInput.disabled = false;
      }

      // connecting to global MonsterCart function (falls back to just normal button if no Monster app)
      this.buttonEl.addEventListener('click', (e) => {
        e.preventDefault();
        globalMonsterCartFunction(e, undefined, product, 1);
      });
    }
  }

  customElements.define('simple-product-card', SimpleProductCard);
</script>

{% schema %}
{
  "name": "WM Quiz Results",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "product",
      "id": "default_product",
      "label": "Default product (for templating purposes only)"
    },
    {
      "type": "video",
      "id": "video",
      "label": "Video a bottom of page"
    },
    {
      "type": "image_picker",
      "id": "free_gift_image",
      "label": "Free gift image"
    },
    {
      "type": "image_picker",
      "id": "routine_image_hero",
      "label": "Routine icon - Hero Product"
    },
    {
      "type": "image_picker",
      "id": "routine_image_routine",
      "label": "Routine icon - Main Routine"
    },
    {
      "type": "image_picker",
      "id": "routine_image_pm",
      "label": "Routine icon - PM Only"
    },
    {
      "type": "image_picker",
      "id": "routine_image_bonus",
      "label": "Routine icon - Bonus"
    },
  ]
}
{% endschema %}

{% comment %} 

  UPDATED RECORD 25/10/02:
  ConvertFlow Affluent Skin Quiz code: 🟢

  <script>
    window.quizAnswers = {};
    
    window.addEventListener("cfView", function (e) {
      const d = e.detail || {};
      
      if (d.step_name === "Quiz") {
        SegmentClient.trackEvent("2025 Skin Quiz Started", {
            quiz_id: d.cta?.id,
            quiz_name: d.cta?.name
        });
      }
    });

    window.addEventListener("cfSubmit", function (e) {
      const d = e.detail || {};
      const fields = d.fields || {};

      if (d.step_name === "Quiz") {
        window.quizAnswers = { ...fields };
        SegmentClient.setTraits(window.quizAnswers);
      }

      if (d.step_name === "Email Form") {
        const email = (fields.email || "").trim() || null;
        const optedIn = fields.marketing_consent == "true"; // u can change to whatever consent checkbox is

        // 1) Record consent safely (merges with existing consents; no downgrades)
        SegmentClient.setConsent({
          email,
          optedIn,
          source: "convertflow_form_affluent_skinquiz_2025"
        });

        // 2) Identify with email + any queued traits (includes quiz answers already queued)
        //    Passing email again here is fine; wrapper will merge and clear local queue.
        SegmentClient.identify(email, {
          email,
          ...window.quizAnswers
        });

        // 3) Track quiz completion as an event
        SegmentClient.trackEvent("2025 Skin Quiz Completed", {
          quiz_id: d.cta?.id,
          quiz_name: d.cta?.name,
          answers: window.quizAnswers,
          quiz_results_url: `https://hydropeptide.co.uk/pages/hydropeptide-skin-quiz-2025-results-page?skincare_routine=${window.quizAnswers.skincare_routine}&sensitive_skin=${window.quizAnswers.sensitive_skin}&skin_goal=${window.quizAnswers.skin_goal}&skin_type=${window.quizAnswers.skin_type}`
        });

        // Optional: clear answers after successful submit to avoid stale data across sessions
        window.quizAnswers = {};
        if (SegmentClient.debug) console.log("[CF] Email submit handled with consent + identify + track");
      }
    });
  </script>

  <style>
    .hydropeptide-form .cf-button-primary p {
      font-family: var(--font-body-condensed)!important;
      padding: 0 0.6rem!important;
    }
    .hydropeptide-form .cf-consent-field.cf-marketing-consent {
      width: 100%!important;
    }
    .hydropeptide-codereveal {
      border: 1px solid rgba(255,255,255,0.6) !important;
      font-family: var(--font-body-family)!important;
      display: inline!important;
      font-size: 26px !important;
      letter-spacing: 1px!important;
      padding: 0.6rem 1.2rem!important;
      border-radius: 7px!important;
    }
    .hydropeptide-copysuccess {
      font-family: var(--font-body-family) !important;
      margin-top: 1rem;
      animation: var(--animation-slide-in);
    }
  </style>

  ConvertFlow Aspirationl popup code: 🟢
  <script>
    window.addEventListener("cfSubmit", function (e) {
      const d = e.detail || {};
      const fields = d.fields || {};
      
      console.log(d);
      console.log(fields);

      if (d.step_name === "Email form") {
        const email = (fields.email || "").trim() || null;
        const optedIn = fields.marketing_consent == "true";

        // 1) Record consent safely (merges with existing consents; no downgrades)
        SegmentClient.setConsent({
          email,
          optedIn,
          source: "convertflow_form_aspirational_2025"
        });

        // 2) Identify with email + any queued traits (includes quiz answers already queued)
        //    Passing email again here is fine; wrapper will merge and clear local queue.
        SegmentClient.identify(email);

        // 3) Track quiz completion as an event
        SegmentClient.trackEvent("2025 Aspirational Signup", {
          quiz_id: d.cta?.id,
          quiz_name: d.cta?.name,
        });
        
        if (SegmentClient.debug) console.log("[CF] Email submit handled with consent + identify + track");
      }
    });
  </script>

  <style>
    .hydropeptide-form .cf-button-primary p {
      font-family: var(--font-body-condensed)!important;
      padding: 0 0.6rem!important;
    }
    .hydropeptide-form .cf-consent-field.cf-marketing-consent {
      width: 100%!important;
    }
    .hydropeptide-codereveal {
      border: 1px solid rgba(255,255,255,0.6) !important;
      font-family: var(--font-body-family)!important;
      display: inline!important;
      font-size: 26px !important;
      letter-spacing: 1px!important;
      padding: 0.6rem 1.2rem!important;
      border-radius: 7px!important;
    }
  </style>


  OLDER:
  Code used in ConvertFlow to get to this page - just taking note here for safe-keeping:

  🟢 This is same as code below, but using Segment JS in wm__segment-analytics-control.js
  Kept in comments to show logic
  <script>
    // Keep most recent answers across steps
    window.quizAnswers = {};

    window.addEventListener("cfSubmit", function (e) {
      const d = e.detail || {};
      const fields = d.fields || {};

      if (d.step_name === "Quiz") {
        // Cache answers locally and queue as traits (no PII required here)
        window.quizAnswers = { ...fields };
        SegmentClient.setTraits(window.quizAnswers);
        if (SegmentClient.debug) console.log("[CF] Quiz step captured traits:", window.quizAnswers);
        return;
      }

      if (d.step_name === "Email Form") {
        const email = (fields.email || "").trim() || null;
        const optedIn = !!fields.email_opt_in; // <-- change if your CF checkbox uses a different key

        // 1) Record consent safely (merges with existing consents; no downgrades)
        SegmentClient.setConsent({
          email,
          optedIn,
          source: "convertflow_form",
          jurisdiction: "UK-PECR/GDPR",
          extraTraits: {
            // lightweight metadata tied to this consent capture
            collected_flow: d.cta?.name,
            form_variant: d.variant
          }
        });

        // 2) Identify with email + any queued traits (includes quiz answers already queued)
        //    Passing email again here is fine; wrapper will merge and clear local queue.
        SegmentClient.identify(email, {
          email,
          // If you prefer to *not* duplicate all answers as top-level traits, remove the next line:
          ...window.quizAnswers
        });

        // 3) Track quiz completion as an event
        SegmentClient.trackEvent("2025 Skin Quiz Completed", {
          quiz_id: d.cta?.id,
          quiz_name: d.cta?.name,
          variant: d.variant,
          answers: window.quizAnswers
        });

        // Optional: clear answers after successful submit to avoid stale data across sessions
        window.quizAnswers = {};
        if (SegmentClient.debug) console.log("[CF] Email submit handled with consent + identify + track");
      }
    });
  </script>

  🔴 This is working code, but manual
  Custom code in main settings:

  <script>
    window.quizAnswers = {};
    
    window.addEventListener("cfSubmit", function (e) {
      const data = e.detail;
  
      if (data.step_name == "Quiz") {
        console.log("QUIZ SUBMIT:", "cfSubmit", e.detail);
        window.quizAnswers = data.fields;
      } else if (data.step_name == "Email Form") {
        console.log("EMAIL SUBMIT:", "cfSubmit", e.detail);
        
        console.log("SUBMITTING: ", window.quizAnswers);
        
        // Attach answers and emails as "traits" (persists)
        analytics.identify(data.fields.email, {
          email: data.fields.email,
          ...window.quizAnswers
        });
        
        // Track answers and quiz info as events (just useful)
        analytics.track("2025 Skin Quiz Completed", {
          quiz_id: data.cta?.id,
          quiz_name: data.cta?.name,
          variant: data.variant,
          answers: window.quizAnswers
        });
      }
    });
  </script>

  Results page:

  <script>
    console.log("Running");

    function extractValueByMergeField(fieldName) {
      const el = document.querySelector(`[data-merge="${fieldName}"]`);
      const raw = el?.textContent?.trim();
      if (!raw || raw === fieldName || raw === `{{person.fields.${fieldName}}}`) return null;
      return raw;
    }

    function tryRedirect() {
      console.log("Trying redirect");
      const skincareRoutine = extractValueByMergeField("skincare_routine");
      const sensitiveSkin = extractValueByMergeField("sensitive_skin");
      const skincareGoal = extractValueByMergeField("skin_goal");
      const skinType = extractValueByMergeField("skin_type");

      const params = {
        skincare_routine: skincareRoutine,
        sensitive_skin: sensitiveSkin,
        skin_goal: skincareGoal,
        skin_type: skinType
      };

      console.log("Extracted params:", params);

      const searchParams = new URLSearchParams();
      for (const [key, val] of Object.entries(params)) {
        if (val) searchParams.append(key, val);
      }

      if ([...searchParams].length === Object.keys(params).length) {
        const target = `/pages/hydropeptide-skin-quiz-2025-results-page?${searchParams.toString()}`;
        console.log("Redirecting to:", target);
        window.location.href = target;
      }
    }

    // Poll until merge fields are populated
    const interval = setInterval(() => {
      console.log("Setting interval");
      const ready =
        extractValueByMergeField("skincare_routine") &&
        extractValueByMergeField("sensitive_skin") &&
        extractValueByMergeField("skin_goal") &&
        extractValueByMergeField("skin_type");

      if (ready) {
        console.log("Ready Freddie");
        clearInterval(interval);
        tryRedirect();
      }
    }, 300);
  </script>
{% endcomment %}