<div
  class="
    {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}
    _mb-{{ section.settings.margin_bottom | divided_by: 2 }} md:_mb-{{ section.settings.margin_bottom }}
  "
>
  <div class="page-width">
    <div class="_flex _justify-center">
      <div class="md:_w-[570px] _text-center">
        <h1 class="_font-heading-primary md:_text-3xl _text-2.5xl">Validated Results</h1>
        <p class="_text-base">Our extensive clinical and consumer testing processes guarantee formulas that deliver high-performance, visible results in product offerings our customers love to use.</p>
      </div>
    </div>
    <div class="_flex _flex-row md:_gap-7 _gap-4">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'before_after_image' -%}
            <div id="slider1" class="_aspect-square _w-1/2 beer-slider beer-slider-wlabels" data-beer-label="before">
              <img src="{{ block.settings.before_image | image_url: width: 1000 }}" alt="Unprocessed original photo">
              <div class="beer-reveal" data-beer-label="after">
                <img src="{{ block.settings.after_image | image_url: width: 1000 }}" alt="Photo after playing with Lightroom presets">
              </div>
            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>

{% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/beerslider/dist/BeerSlider.css" /> {% endcomment %}
{{ 'wm__beer-slider.css' | asset_url | stylesheet_tag }}

<script>
  class BeerSlider {
    constructor (element, {start = '50', prefix = 'beer'} = {}) {
      this.start = parseInt(start) ? Math.min(100, Math.max(0, parseInt(start))) : 50
      this.prefix = prefix
      if (!element || element.children.length !== 2) {
          return
      }
      this.element = element
      this.revealContainer = this.element.children[1]
      if (this.revealContainer.children.length < 1) {
          return
      }
      this.revealElement = this.revealContainer.children[0]
      this.range = this.addElement('input', {
          type: 'range',
          class: `${this.prefix}-range`,
          'aria-label': 'Percent of revealed content',
          'aria-valuemin': '0',
          'aria-valuemax': '100',
          'aria-valuenow': this.start,
          value: this.start,
          min: '0',
          max: '100'
      })
      this.handle = this.addElement('span', {
          class: `${this.prefix}-handle`
      })
      this.init()
  }
  init () {
      this.element.classList.add(`${this.prefix}-ready`)
      this.setImgWidth()
      this.move()
      this.addListeners()
  }
  addElement (tag, attributes) {
      const el = document.createElement(tag)
      Object.keys(attributes).forEach( (key) => {
          el.setAttribute(key, attributes[key])
      })
      this.element.appendChild(el)
      return el
  }
  setImgWidth () {
      this.revealElement.style.width = getComputedStyle(this.element)['width']
  }
  addListeners () {
      const eventTypes = ['input', 'change']
      eventTypes.forEach( (i) => {
          this.range.addEventListener( i, () => {this.move()} )
      })
      window.addEventListener('resize', () => {this.setImgWidth()})
  }
  move () {
      this.revealContainer.style.width = `${this.range.value}%`
      this.handle.style.left = `${this.range.value}%`
      this.range.setAttribute('aria-valuenow', this.range.value)
  }
}

new BeerSlider(document.getElementById('slider1'))

</script>

{% schema %}
{
  "name": "WM BeforeAfter Grid",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "main_heading",
      "default": "t:sections.footer.blocks.link_list.settings.heading.default",
      "label": "Main Heading"
    },
    {
      "type": "inline_richtext",
      "id": "description",
      "default": "Description",
      "label": "Description text"
    },
    {
      "type": "header",
      "content": "t:sections.image-banner.settings.mobile.content"
    },
    {
      "type": "select",
      "id": "margin_bottom",
      "options": [
        {
          "value": "0",
          "label": "0rem"
        },
        {
          "value": "2",
          "label": "0.5rem"
        },
        {
          "value": "4",
          "label": "1rem"
        },
        {
          "value": "6",
          "label": "1.5rem"
        },
        {
          "value": "8",
          "label": "2rem"
        },
        {
          "value": "12",
          "label": "3rem"
        },
        {
          "value": "16",
          "label": "4rem"
        }
      ],
      "default": "0",
      "label": "Margin bottom"
    }
  ],
  "blocks": [
    {
      "type": "before_after_image",
      "name": "Before After Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "before_image",
          "label": "Pick a product image for before"
        },
        {
          "type": "image_picker",
          "id": "after_image",
          "label": "Pick a product image for after"
        },
      ]
    }
  ],
  "presets": [
    {
      "name": "WM BeforeAfter Grid",
      "blocks": [
        {
          "type": "before_after_image"
        }
      ]
    }
  ]
}
{% endschema %}
