<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'wm__component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'wm__component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<link
  rel="stylesheet"
  href="{{ 'component-cart-notification.css' | asset_url }}"
  media="print"
  onload="this.media='all'"
>

{%- if settings.predictive_search_enabled -%}
  <link rel="stylesheet" href="{{ 'wm__component-price.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}

{%- if section.settings.menu_type_desktop == 'mega' -%}
  <link rel="stylesheet" href="{{ 'component-mega-menu.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}

{% comment %} {%- if settings.invisible_overlay_header and request.page_type == 'index' -%} {% endcomment %}
{%- if settings.invisible_overlay_header -%}
  {%- assign invisible_header = true -%}
{%- endif -%}
{% comment %} {%- if settings.invert_invisible_overlay_header_colors and request.page_type == 'index' -%} {% endcomment %}
{%- if settings.invert_invisible_overlay_header_colors -%}
  {%- assign invert_header_colors = true -%}
{%- endif -%}

{%- assign invisible_header = false -%}
{%- assign invert_header_colors = false -%}

{%- case request.page_type -%}
  {%- when 'index' -%}
    {%- if settings.invisible_overlay_header -%}
      {%- assign invisible_header = true -%}
    {%- endif -%}
    {%- if settings.invert_invisible_overlay_header_colors -%}
      {%- assign invert_header_colors = true -%}
    {%- endif -%}

  {%- when 'page' -%}
    {%- if settings.invisible_overlay_header and page.metafields.banner.invisible_overlay_header -%}
      {%- assign invisible_header = true -%}
    {%- endif -%}
    {%- if settings.invisible_overlay_header and page.metafields.banner.invert_invisible_overlay_header_colors -%}
      {%- assign invert_header_colors = true -%}
    {%- endif -%}

  {%- when 'collection' -%}
    {%- if settings.invisible_overlay_header and collection.metafields.banner.invisible_overlay_header -%}
      {%- assign invisible_header = true -%}
    {%- elsif collection.image == blank and settings.default_collection_invisible_header == true -%}
      {%- assign invisible_header = true -%}
    {%- endif -%}
    {%- if settings.invisible_overlay_header and collection.metafields.banner.invert_invisible_overlay_header_colors -%}
      {%- assign invert_header_colors = true -%}
    {%- elsif collection.image == blank and settings.default_collection_banner_lighttext == true -%}
      {%- assign invert_header_colors = true -%}
    {%- endif -%}
{%- endcase -%}

{%- assign controlled_text_color_variable = '' -%}
{%- if invert_header_colors == true -%}
  {%- assign controlled_text_color_variable = 'var(--color-brand-light)' -%}
  {%- assign controlled_border_color = 'var(--color-brand-light)' -%}
{%- else -%}
  {%- assign controlled_text_color_variable = 'var(--color-brand-dark)' -%}
  {%- assign controlled_border_color = 'var(--color-brand-dark)' -%}
{%- endif -%}

{%- style -%}
  header-drawer {
    justify-self: start;
  }

  .header-wrapper {
    background-color: var(--color-brand-light);
  }
  .header__heading-logo-wrapper {
      width: 75%;
    }

  @media screen and (min-width: 990px) {
    .header-wrapper {
      /* Alex - this is a fix to prevent redrawing header with "transparent", caused flickering otherwise */
      background-color: {% if invisible_header %} rgba(255, 255, 255, 0.008){% else %} rgb(255,255,255){% endif %};
      border-bottom: 1px solid {% if invisible_header and request.page_type != 'index' %} {{ controlled_border_color }}{% else %} transparent{% endif %};
    }

    .scrolled-past-header .header-wrapper {
      background-color: var(--color-brand-light);
      border-bottom: 1px solid transparent;
    }

    .header-wrapper.header-wrapper--menu-open,
    .header-wrapper.header-wrapper--hovered {
      background-color: var(--color-brand-light);
    }

    .header-wrapper .header-content {
      height: var(--header-height-desktop-fixed);
      transition-property: height;
      transition-duration: var(--duration-default);
      transition-timing-function: ease;
    }

    .scrolled-past-header .header-wrapper .header-content {
      height: 80px;
    }

    .header-wrapper.header-wrapper--menu-open {
      background-color: var(--color-brand-light);
    }

    .header__heading-logo-wrapper {
      width: 100%;
    }

    {%- if section.settings.sticky_header_type == 'reduce-logo-size' -%}
      .scrolled-past-header .header__heading-logo-wrapper {
        width: 75%;
      }
    {%- endif -%}

    {%- unless invisible_header == false -%}
      .header-wrapper.header-wrapper--hovered,
      .header-wrapper.header-wrapper--menu-open {
        background-color: var(--color-brand-light);
      }
    {%- endunless -%}
  
    {% comment %} Manually controls text color based on scroll/overlay logic (easier than Tailwind) {% endcomment %}
    .header-wrapper .header-controlled--text {
      color: {{ controlled_text_color_variable }};
    }
    .header-wrapper .header-controlled--text svg:not(.icon.icon-caret) g > *,
    .header-wrapper .header-controlled--text svg:not(.icon.icon-caret) > * {
      stroke: {{ controlled_text_color_variable }};
    }
    .header__heading-logo {
      filter: {% if invert_header_colors %} brightness(0) invert(1){% else %} none{% endif %};
    }

    {%- unless invert_header_colors == false -%}
      .scrolled-past-header .header-wrapper .header-controlled--text,
      .header-wrapper.header-wrapper--hovered .header-controlled--text,
      .header-wrapper.header-wrapper--menu-open .header-controlled--text {
        color: var(--color-brand-dark);
      }
      .scrolled-past-header .header-wrapper .header-controlled--text svg:not(.icon.icon-caret) g > *,
      .scrolled-past-header .header-wrapper .header-controlled--text svg:not(.icon.icon-caret) > *,
      .header-wrapper.header-wrapper--hovered .header-controlled--text svg:not(.icon.icon-caret) g > *,
      .header-wrapper.header-wrapper--hovered .header-controlled--text svg:not(.icon.icon-caret) > *,
      .header-wrapper.header-wrapper--menu-open .header-controlled--text svg:not(.icon.icon-caret) g > *,
      .header-wrapper.header-wrapper--menu-open .header-controlled--text svg:not(.icon.icon-caret) > * {
        stroke: var(--color-brand-dark);
      }
      .scrolled-past-header .header-wrapper .header__heading-logo,
      .header-wrapper.header-wrapper--hovered .header__heading-logo,
      .header-wrapper.header-wrapper--menu-open .header__heading-logo {
        filter: none;
      }
    {%- endunless -%}
  }

  {%- if section.settings.menu_type_desktop != "drawer" -%}
    @media screen and (min-width: 990px) {
      header-drawer {
        display: none;
      }
    }
  {%- endif -%}

  .menu-drawer-container {
    display: flex;
  }

  .list-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .list-menu--inline {
    display: inline-flex;
    flex-wrap: wrap;
  }

  summary.list-menu__item {
    padding-right: 2.7rem;
  }

  .list-menu__item {
    display: flex;
    align-items: center;
    line-height: calc(1 + 0.3 / var(--font-body-scale));
  }

  .list-menu__item--link {
    text-decoration: none;
    padding-bottom: 1rem;
    padding-top: 1rem;
    line-height: calc(1 + 0.8 / var(--font-body-scale));
  }

  @media screen and (min-width: 990px) {
    .list-menu__item--link {
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
  }

  .section-header {
    position: sticky; /* This is for fixing a Safari z-index issue. PR #2147 */
  }
{%- endstyle -%}

<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>

{%- liquid
  for block in section.blocks
    if block.type == '@app'
      assign has_app_block = true
    endif
  endfor
-%}

{% liquid
  assign header_tag = 'div'

  if section.settings.sticky_header_type != 'none'
    assign header_tag = 'sticky-header'
  endif
%}

<{{ header_tag }}
  {% if header_tag == 'sticky-header' %}
    data-sticky-type="{{ section.settings.sticky_header_type }}"
  {% endif %}
  class="header-wrapper"
>
  <header class="page-width header-content _flex lg:_items-stretch _items-center h-full">
    <div class="_flex-1 _flex _flex-row _items-stretch _justify-start _gap-4">
      {%- liquid
        if section.settings.menu != blank
          render 'wm__header-drawer', slider_collection: section.settings.slider_collection, products_to_show: section.settings.products_to_show
        endif
      -%}

      {%- liquid
        if section.settings.menu != blank
          render 'wm__header-mega-menu', slider_collection: section.settings.slider_collection, products_to_show: section.settings.products_to_show, slider_blog: section.settings.slider_blog, articles_to_show: section.settings.articles_to_show
        endif
      %}
    </div>

    <div class="lg:_flex-none _flex _items-center">
      {%- if request.page_type == 'index' -%}
        <h1 class="header__heading">
      {%- endif -%}
      <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
        <div class="header__heading-logo-wrapper hover:_opacity-80">
          {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
          {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
          {% capture sizes %}(min-width: 750px) {{ settings.logo_width }}px, 50vw{% endcapture %}
          {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
          {{
            settings.logo
            | image_url: width: 600
            | image_tag:
              class: 'header__heading-logo',
              widths: widths,
              height: logo_height,
              width: settings.logo_width,
              alt: logo_alt,
              sizes: sizes,
              preload: true
          }}
        </div>
      </a>
      {%- if request.page_type == 'index' -%}
        </h1>
      {%- endif -%}
    </div>

    <div class="_flex-1 _flex _items-center _justify-end">
      <div class="_flex _justify-end _items-center md:_gap-5 _gap-3">
        <div class="_p-4 _h-full lg:_block _hidden">
          <a class="_text-[12px] _font-semibold _tracking-widest header-controlled--text _uppercase list-menu__item focus-inset link-underline-trigger link-underline">Find your perfect regime</a>
        </div>

        {% render 'wm__header-search', input_id: 'Search-In-Modal' %}

        {%- if shop.customer_accounts_enabled -%}
          <a
            href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
            class="_justify-between _gap-1.5 _items-center _group/account _flex"
            rel="nofollow"
          >
            <span class="svg-wrapper header-controlled--text _w-[1.1rem] _h-[1.1rem] _mb-0.5 group-hover/account:_scale-110">{{ 'icon-newbuild-account.svg' | inline_asset_content }}</span>
          </a>
        {%- endif -%}

        <a href="{{ routes.cart_url }}" class="_flex _relative _justify-between _gap-1.5 _items-center _group/cart" id="cart-icon-bubble">
          {% comment %} Warning: contents of this are rendered dynamically using 'cart-icon-bubble' section - so make sure to match up {% endcomment %}
          <span class="svg-wrapper header-controlled--text _w-5 _h-5 _mb-0.5 group-hover/cart:_scale-110">{{'icon-newbuild-cart.svg' | inline_asset_content }}</span>
          {%- if cart != empty -%}
            <div class="_w-4 _h-4 _flex _justify-center _items-center _text-[10px] _rounded-full empty:_hidden _bg-brand-primary-700 _text-brand-light lg:_relative _absolute lg:_top-auto _-top-1 lg:_right-auto _-right-2">
              {%- if cart.item_count < 100 -%}
                <span aria-hidden="true" id="cart-count-number-for-monster">{{ cart.item_count }}</span>
              {%- endif -%}
              <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
            </div>
          {%- endif -%}
        </a>
      </div>
    </div>
  </header>
</{{ header_tag }}>

{%- if settings.cart_type == 'notification' -%}
  {%- render 'cart-notification',
    color_scheme: section.settings.color_scheme,
    desktop_menu_type: section.settings.menu_type_desktop
  -%}
{%- endif -%}

{% javascript %}
  class StickyHeader extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {
      this.header = document.querySelector('.section-header');
      this.headerWrapper = document.querySelector('.header-wrapper');
      this.headerIsAlwaysSticky =
        this.getAttribute('data-sticky-type') === 'always' ||
        this.getAttribute('data-sticky-type') === 'reduce-logo-size';
      this.headerBounds = {};

      this.setHeaderHeight();

      window.matchMedia('(max-width: 990px)').addEventListener('change', this.setHeaderHeight.bind(this));

      if (this.headerIsAlwaysSticky) {
        this.header.classList.add('shopify-section-header-sticky');
      }

      this.currentScrollTop = 0;
      this.preventReveal = false;
      this.predictiveSearch = this.querySelector('predictive-search');

      this.onScrollHandler = this.onScroll.bind(this);
      this.hideHeaderOnScrollUp = () => (this.preventReveal = true);

      this.addEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.addEventListener('scroll', this.onScrollHandler, false);

      this.addEventListener('mouseenter', () => this.headerWrapper.classList.add('header-wrapper--hovered'));
      this.addEventListener('mouseleave', () => this.headerWrapper.classList.remove('header-wrapper--hovered'));

      this.createObserver();
    }

    setHeaderHeight() {
      document.documentElement.style.setProperty('--header-height', `${this.header.offsetHeight}px`);
    }

    disconnectedCallback() {
      this.removeEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.removeEventListener('scroll', this.onScrollHandler);
    }

    createObserver() {
      let observer = new IntersectionObserver((entries, observer) => {
        this.headerBounds = entries[0].intersectionRect;
        observer.disconnect();
      });

      observer.observe(this.header);
    }

    onScroll() {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      if (this.predictiveSearch && this.predictiveSearch.isOpen) return;

      if (scrollTop > this.headerBounds.bottom && !this.header.classList.contains('scrolled-past-header')) {
        this.header.classList.add('scrolled-past-header');
        requestAnimationFrame(this.hide.bind(this));
      } else if (scrollTop <= this.headerBounds.top && this.header.classList.contains('scrolled-past-header')) {
        this.header.classList.remove('scrolled-past-header');
        requestAnimationFrame(this.reset.bind(this));
      }

      this.currentScrollTop = scrollTop;
    }

    hide() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.add('shopify-section-header-hidden', 'shopify-section-header-sticky');
      this.closeMenuDisclosure();
      this.closeSearchModal();
    }

    reveal() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.add('shopify-section-header-sticky', 'animate');
      this.header.classList.remove('shopify-section-header-hidden');
    }

    reset() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.remove('shopify-section-header-hidden', 'shopify-section-header-sticky', 'animate');
    }

    closeMenuDisclosure() {
      this.disclosures = this.disclosures || this.header.querySelectorAll('header-menu');
      this.disclosures.forEach((disclosure) => disclosure.close());
    }

    closeSearchModal() {
      this.searchModal = this.searchModal || this.header.querySelector('details-modal');
      this.searchModal.close(false);
    }
  }

  customElements.define('sticky-header', StickyHeader);
{% endjavascript %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if settings.logo %}
      "logo": {{ settings.logo | image_url: width: 500 | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: '?q={search_term_string}' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "max_blocks": 3,
  "settings": [
    {
      "type": "header",
      "content": "Default collection/articles"
    },
    {
      "type": "collection",
      "id": "slider_collection",
      "label": "Pick default collection"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 25,
      "step": 1,
      "default": 8,
      "label": "Number of collection products to show"
    },
    {
      "type": "blog",
      "id": "slider_blog",
      "label": "Blog selector",
      "info": "No idea why this has to be here, but you can't just pull all blogs without selecting outside of blog pages"
    },
    {
      "type": "range",
      "id": "articles_to_show",
      "min": 2,
      "max": 25,
      "step": 1,
      "default": 8,
      "label": "Max articles to show"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "select",
      "id": "menu_type_desktop",
      "options": [
        {
          "value": "dropdown",
          "label": "t:sections.header.settings.menu_type_desktop.options__1.label"
        },
        {
          "value": "mega",
          "label": "t:sections.header.settings.menu_type_desktop.options__2.label"
        },
        {
          "value": "drawer",
          "label": "t:sections.header.settings.menu_type_desktop.options__3.label"
        }
      ],
      "default": "dropdown",
      "label": "t:sections.header.settings.menu_type_desktop.label"
    },
    {
      "type": "select",
      "id": "sticky_header_type",
      "options": [
        {
          "value": "none",
          "label": "t:sections.header.settings.sticky_header_type.options__1.label"
        },
        {
          "value": "on-scroll-up",
          "label": "t:sections.header.settings.sticky_header_type.options__2.label"
        },
        {
          "value": "always",
          "label": "t:sections.header.settings.sticky_header_type.options__3.label"
        },
        {
          "value": "reduce-logo-size",
          "label": "t:sections.header.settings.sticky_header_type.options__4.label"
        }
      ],
      "default": "on-scroll-up",
      "label": "t:sections.header.settings.sticky_header_type.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__1.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "menu_color_scheme",
      "label": "t:sections.header.settings.menu_color_scheme.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__utilities.content"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.header.settings.enable_country_selector.label",
      "info": "t:sections.header.settings.enable_country_selector.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.header.settings.enable_language_selector.label",
      "info": "t:sections.header.settings.enable_language_selector.info"
    },
    {
      "type": "checkbox",
      "id": "enable_customer_avatar",
      "default": true,
      "label": "t:sections.header.settings.enable_customer_avatar.label",
      "info": "t:sections.header.settings.enable_customer_avatar.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.header.settings.margin_bottom.label",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
