<script src="{{ 'wm__beer-slider.js' | asset_url }}" defer="defer"></script>
{{ 'wm__beer-slider.css' | asset_url | stylesheet_tag }}

<div
  class="
    {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}
    _mb-{{ section.settings.margin_bottom | divided_by: 2 }} md:_mb-{{ section.settings.margin_bottom }}
  "
>
  <div class="page-width">
    <div class="_flex _justify-center">
      <div class="md:_w-[570px] _text-center">
        <h1 class="_font-heading-primary md:_text-3xl _text-2.5xl">Validated Results</h1>
        <p class="_text-base">Our extensive clinical and consumer testing processes guarantee formulas that deliver high-performance, visible results in product offerings our customers love to use.</p>
      </div>
    </div>
    <div class="_flex _flex-row md:_gap-7 _gap-4">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'before_after_image' -%}
            {% comment %}
              Good example of "beer-slider" in action, copy this setup
            {% endcomment %}
            <div
              class="_aspect-square _w-1/2 _bg-brand-background beer-slider"
              data-beer-label="{{ block.settings.after_text }}"
            >
              <img
                src="{{ block.settings.before_image | image_url: width: 1000 }}"
                width="{{ block.settings.before_image.width }}"
                height="{{ block.settings.before_image.height }}"
                alt="{{ block.settings.before_image.alt }}"
              >
              <div class="beer-reveal" data-beer-label="{{ block.settings.before_text }}">
                <img
                  src="{{ block.settings.after_image | image_url: width: 1000 }}"
                  width="{{ block.settings.after_image.width }}"
                  height="{{ block.settings.after_image.height }}"
                  alt="{{ block.settings.after_image.alt }}"
                >
              </div>
            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "WM BeforeAfter Grid",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "main_heading",
      "default": "t:sections.footer.blocks.link_list.settings.heading.default",
      "label": "Main Heading"
    },
    {
      "type": "inline_richtext",
      "id": "description",
      "default": "Description",
      "label": "Description text"
    },
    {
      "type": "header",
      "content": "t:sections.image-banner.settings.mobile.content"
    },
    {
      "type": "select",
      "id": "margin_bottom",
      "options": [
        {
          "value": "0",
          "label": "0rem"
        },
        {
          "value": "2",
          "label": "0.5rem"
        },
        {
          "value": "4",
          "label": "1rem"
        },
        {
          "value": "6",
          "label": "1.5rem"
        },
        {
          "value": "8",
          "label": "2rem"
        },
        {
          "value": "12",
          "label": "3rem"
        },
        {
          "value": "16",
          "label": "4rem"
        }
      ],
      "default": "0",
      "label": "Margin bottom"
    }
  ],
  "blocks": [
    {
      "type": "before_after_image",
      "name": "Before After Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "before_image",
          "label": "Pick a product image for before"
        },
        {
          "type": "text",
          "id": "before_text",
          "default": "Before",
          "label": "Before Text"
        },
        {
          "type": "image_picker",
          "id": "after_image",
          "label": "Pick a product image for after"
        },
        {
          "type": "text",
          "id": "after_text",
          "default": "After",
          "label": "After Text"
        },
      ]
    }
  ],
  "presets": [
    {
      "name": "WM BeforeAfter Grid",
      "blocks": [
        {
          "type": "before_after_image"
        }
      ]
    }
  ]
}
{% endschema %}
