{%- liquid
  assign fetch_priority = 'auto'
  if section.index == 1
    assign fetch_priority = 'high'
  endif
-%}

<div class="section-{{ section.id }} _mb-{{ section.settings.margin_bottom | divided_by: 2 }} md:_mb-{{ section.settings.margin_bottom }} {% if section.settings.show_background %} _bg-brand-background-light{% endif %} _py-12{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
  <div class="_relative page-width _isolate">
    <div class="_grid md:_grid-cols-12 _grid-cols-1 _z-10 _isolate">
      <div class="md:_col-span-6 _col-span-1 _flex _flex-col _justify-center {% if section.settings.reverse_order %} md:_pr-16 _items-start{% else %} md:_pl-16 _items-end md:_order-2{% endif %} md:_pb-0 _pb-8">
        <div class="_flex _flex-col _items-start">
          {% unless section.settings.content == blank %}
            <div class="_text-base _prose">
              {{ section.settings.content }}
            </div>
          {% endunless %}
        </div>
      </div>
      <div class="md:_col-span-6 _col-span-1 _flex _flex-row">
        <div
          class="_flex-1 _w-full{% unless section.settings.media_contain == "contain" %} _aspect-[12/10]{% endunless %} _overflow-hidden{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {% if settings.animations_reveal_on_scroll %}
            data-cascade
            style="--animation-order: 1;"
          {% endif %}
        >
          {%- assign media_class = "_w-full _h-full _object-" | append: section.settings.media_contain -%}

          {%- if section.settings.video -%}
            {{ section.settings.video | media_tag: image_size: '2048x',
              autoplay: true, loop: true, muted: true, controls: false, preload: 'none',
              class: media_class }}

          {%- elsif section.settings.image -%}
            {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
            {%- capture sizes -%}
              (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
              (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
            {%- endcapture -%}
            {{
              section.settings.image
              | image_url: width: 1500
              | image_tag:
                class: media_class,
                fetchpriority: fetch_priority, sizes: sizes, widths: widths
            }}
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "WM ImageBlockText 2",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "reverse_order",
      "default": false,
      "label": "Reverse order of image and text content"
    },
    {
      "type": "checkbox",
      "id": "show_background",
      "default": false,
      "label": "Turn on background"
    },
    {
      "type": "richtext",
      "id": "content",
      "default": "<p>Content</p>",
      "info": "This is richtext",
      "label": "Content text"
    },
    {
      "type": "header",
      "content": "Images"
    },
    {
      "type": "video",
      "id": "video",
      "label": "Main video"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Main image"
    },
    {
      "type": "select",
      "id": "media_contain",
      "options": [
        {
          "value": "cover",
          "label": "Cover"
        },
        {
          "value": "contain",
          "label": "Contain"
        }
      ],
      "default": "cover",
      "info": "Note: cover fixes aspect ratio to 12/10",
      "label": "Media fit type"
    },
    {
      "type": "header",
      "content": "Margin bottom controls"
    },
    {
      "type": "select",
      "id": "margin_bottom",
      "options": [
        {
          "value": "0",
          "label": "0rem"
        },
        {
          "value": "2",
          "label": "0.5rem"
        },
        {
          "value": "4",
          "label": "1rem"
        },
        {
          "value": "6",
          "label": "1.5rem"
        },
        {
          "value": "8",
          "label": "2rem"
        },
        {
          "value": "12",
          "label": "3rem"
        },
        {
          "value": "16",
          "label": "4rem"
        }
      ],
      "default": "12",
      "label": "Margin bottom"
    }
  ],
  "presets": [
    {
      "name": "WM ImageBlockText 2"
    }
  ]
}
{% endschema %}
