{{ 'video-section.css' | asset_url | stylesheet_tag }}
{{ 'wm__component-deferred-media.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign video_id = section.settings.video.id | default: section.settings.video_url.id
  assign video_alt = section.settings.video.alt | default: section.settings.description
  assign alt = 'sections.video.load_video' | t: description: video_alt | escape
  assign poster = section.settings.video.preview_image | default: section.settings.cover_image

  if section.settings.video != null
    assign ratio_diff = section.settings.video.aspect_ratio | minus: poster.aspect_ratio | abs
    if ratio_diff < 0.01 and ratio_diff > 0
      assign fix_ratio = true
    endif
  endif
-%}

{%- capture sizes -%}
  (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px)
  calc(100vw - 10rem), 100vw
{%- endcapture -%}

<div
  class="
    md:_py-20 _py-12
    {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}
    _mb-{{ section.settings.margin_bottom | divided_by: 2 }} md:_mb-{{ section.settings.margin_bottom }}
    {% if section.settings.show_background %} _bg-brand-background-light{% endif %}
  "
>
  <div class="video-section isolate page-width">
    <div class="_flex _justify-center">
      <div class="md:_w-[570px] _text-center">
        {% unless section.settings.top_heading == blank %}
          <h3 class="_font-heading-small _text-brand-dark _text-sm _mb-2">
            {{ section.settings.top_heading }}
          </h3>
        {% endunless %}
        {% unless section.settings.main_heading == blank %}
        <h1 class="_font-heading-primary md:_text-3xl _text-2.5xl _mb-6">
          {{ section.settings.main_heading }}
        </h1>
        {% endunless %}
        {% unless section.settings.main_description == blank %}
        <p class="_text-base _mb-8">
          {{ section.settings.main_description }}
        </p>
        {% endunless %}
      </div>
    </div>
  </div>
  <div class="page-width page-width--narrow">
    <deferred-media
      class="video-section__media deferred-media gradient global-media-settings{% if section.settings.full_width %} global-media-settings--full-width{% endif %}{% if fix_ratio %} media-fit-cover{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
      data-media-id="{{ video_id }}"
      {% if poster != null %}
        style="--ratio-percent: {{ 1 | divided_by: poster.aspect_ratio | times: 100 }}%;"
      {% endif %}
    >
      <button
        id="Deferred-Poster-Modal-{{ video_id }}"
        class="video-section__poster media deferred-media__poster media--landscape"
        type="button"
        aria-label="{{ alt }}"
      >
        {%- if poster != null -%}
          {{
            poster
            | image_url: width: 3840
            | image_tag: sizes: sizes, widths: '375, 750, 1100, 1500, 1780, 2000, 3000, 3840', alt: alt
          }}
        {%- else -%}
          {{ 'hero-apparel-3' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
        {%- endif -%}
        <span class="deferred-media__poster-button motion-reduce">
          <span class="svg-wrapper _w-10">
            {{- 'icon-play.svg' | inline_asset_content -}}
          </span>
        </span>
      </button>
      <template>
        {%- if section.settings.video == null and section.settings.video_url != null -%}
          {%- liquid
            assign loop = ''
            if section.settings.enable_video_looping
              assign loop = '&loop=1&playlist=' | append: video_id
            endif
          -%}
          {%- if section.settings.video_url.type == 'youtube' -%}
            <iframe
              src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&autoplay=1{{ loop }}"
              class="js-youtube"
              allow="autoplay; encrypted-media"
              allowfullscreen
              title="{{ section.settings.description | escape }}"
            ></iframe>
          {%- else -%}
            <iframe
              src="https://player.vimeo.com/video/{{ video_id }}?autoplay=1{{ loop }}"
              class="js-vimeo"
              allow="autoplay; encrypted-media"
              allowfullscreen
              title="{{ section.settings.description | escape }}"
            ></iframe>
          {%- endif -%}
        {%- else -%}
          {{
            section.settings.video
            | video_tag:
              image_size: '1100x',
              autoplay: true,
              loop: section.settings.enable_video_looping,
              controls: true,
              muted: false
          }}
        {%- endif -%}
      </template>
    </deferred-media>
  </div>
</div>

{% schema %}
{
  "name": "WM Video",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "show_background",
      "default": false,
      "label": "Turn on background"
    },
    {
      "type": "inline_richtext",
      "id": "top_heading",
      "default": "t:sections.footer.blocks.link_list.settings.heading.default",
      "label": "Top Heading"
    },
    {
      "type": "inline_richtext",
      "id": "main_heading",
      "default": "Validated Results",
      "label": "Main Heading"
    },
    {
      "type": "inline_richtext",
      "id": "main_description",
      "default": "Our extensive clinical and consumer testing processes guarantee formulas that deliver high-performance, visible results in product offerings our customers love to use.",
      "label": "Description text"
    },
    {
      "type": "header",
      "content": "t:sections.image-banner.settings.mobile.content"
    },
    {
      "type": "select",
      "id": "margin_bottom",
      "options": [
        {
          "value": "0",
          "label": "0rem"
        },
        {
          "value": "2",
          "label": "0.5rem"
        },
        {
          "value": "4",
          "label": "1rem"
        },
        {
          "value": "6",
          "label": "1.5rem"
        },
        {
          "value": "8",
          "label": "2rem"
        },
        {
          "value": "12",
          "label": "3rem"
        },
        {
          "value": "16",
          "label": "4rem"
        }
      ],
      "default": "0",
      "label": "Margin bottom"
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "label": "t:sections.video.settings.enable_video_looping.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.video.settings.header__1.content"
    },
    {
      "type": "video",
      "id": "video",
      "label": "t:sections.video.settings.video.label"
    },
    {
      "type": "header",
      "content": "t:sections.video.settings.header__2.content"
    },
    {
      "type": "video_url",
      "id": "video_url",
      "accept": ["youtube", "vimeo"],
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
      "label": "t:sections.video.settings.video_url.label",
      "info": "t:sections.video.settings.video_url.info"
    },
    {
      "type": "image_picker",
      "id": "cover_image",
      "label": "t:sections.video.settings.cover_image.label"
    },
    {
      "type": "text",
      "id": "description",
      "label": "t:sections.video.settings.description.label",
      "info": "t:sections.video.settings.description.info"
    },
    {
      "type": "header",
      "content": "t:sections.video.settings.header__3.content"
    }
  ],
  "presets": [
    {
      "name": "WM Video"
    }
  ]
}
{% endschema %}
