{% comment %} 
  This is the main section that controls metaobjects for PDP
{% endcomment %}

{%- assign skip_styles = false -%}
{% assign product_lp_entries = product.metafields.custom.product_lp_entries.value %}

{%- unless product_lp_entries == blank -%}
  <div class="section-{{ section.id }}">
    {%- for entry in product_lp_entries -%}
      {%- case entry.type -%}
        {%- when "product_lp_icon_strip" -%}
          <div class="{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %} _bg-brand-background-light">
            <div class="_relative page-width md:_py-14 _py-10">
              <div class="_flex _flex-col _items-center">
                {%- unless entry.title == blank -%}
                  <h2 class="_font-heading-primary _text-brand-dark _text-center md:_text-2.5xl _text-2xl md:_mb-10 _mb-6">
                    {{ entry.title }}
                  </h2>
                {%- endunless -%}
                <div class="_flex _flex-row _flex-wrap md:_justify-between _justify-start md:_gap-8">
                  {%- assign entry_icons = entry.icon_pair.value -%}
                  {%- unless entry_icons == blank -%}
                    {%- for icon in entry_icons -%}
                      <div class="_flex _justify-start _items-center _gap-2 _mb-2 md:_max-w-[170px] _w-1/2">
                        <span class="svg-wrapper md:_w-12 md:_h-12 _w-8 _h-8 _flex-shrink-0 _text-brand-primary-500">
                          {{ 'metaobjecticon-large-' | append: icon.icon | append: '.svg' | inline_asset_content }}
                        </span>
                        <span class="_font-heading-small md:_text-sm _text-xs _text-brand-dark">
                          {{ icon.title }}
                        </span>
                      </div>
                    {%- endfor -%}
                  {%- endunless -%}
                </div>
              </div>
            </div>
          </div>

        {%- when "product_lp_content_block_1" -%}
          <div class="{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}{% if entry.background %} _bg-brand-background-light{% endif %} md:_py-20 _py-12">
            <div class="_relative page-width">
              <div class="_grid _gap-8 md:_grid-cols-12 _grid-cols-1">
                <div class="md:_col-span-5 _col-span-1 _flex _flex-col _items-start _justify-center{% if entry.reverse_order %} md:_pl-12 md:_order-2{% else %} md:_pr-12{% endif %}">
                  {%- unless entry.title == blank -%}
                    <h2 class="_font-heading-primary _text-brand-dark md:_text-3xl _text-2.5xl">
                      {{ entry.title }}
                    </h2>
                  {%- endunless -%}
                  {%- unless entry.text == blank -%}
                    <div class="_prose _text-base _mt-4">
                      {{ entry.text | metafield_tag }}
                    </div>
                  {%- endunless -%}
                  {%- assign entry_icons = entry.icon.value -%}
                  {%- unless entry_icons == blank -%}
                    <ul class="_text-base _mt-4">
                      {%- for icon in entry_icons -%}
                        <li class="_flex _justify-start _items-start _gap-2 _mb-2">
                          <span class="svg-wrapper _w-10 _h-10 _flex-shrink-0">
                            {{ 'metaobjecticon-' | append: icon.icon | append: '.svg' | inline_asset_content }}
                          </span>
                          <span class="_pt-2">
                            {{ icon.text }}
                          </span>
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- endunless -%}
                </div>
                <div class="md:_col-span-7 _col-span-1 _flex _flex-row">
                  <div
                    class="_flex-1 _w-full _aspect-[7/6] _overflow-hidden{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                    {% if settings.animations_reveal_on_scroll %}
                      data-cascade
                      style="--animation-order: 1;"
                    {% endif %}
                  >
                    {%- assign media = entry.media.value -%}
                    {%- assign media_compare = entry.media_compare.value -%}

                    {%- if media_compare != blank and media_compare.media_type != 'video' and media.media_type != 'video' -%}
                      {% comment %} Only load this once as needed {% endcomment %}
                      {%- unless skip_styles -%}
                        <script src="{{ 'wm__beer-slider.js' | asset_url }}" defer="defer"></script>
                        {{ 'wm__beer-slider.css' | asset_url | stylesheet_tag }}
                      {%- endunless -%}
                      {%- assign skip_styles = true -%}

                      <div
                        class="_aspect-[7/6] _w-full _bg-brand-background beer-slider"
                        data-beer-label="After"
                      >
                        <img
                          src="{{ media | image_url: width: 1000 }}"
                          width="{{ media.width }}"
                          height="{{ media.height }}"
                          alt="{{ media.alt }}"
                        >
                        <div class="beer-reveal" data-beer-label="Before">
                          <img
                            src="{{ media_compare | image_url: width: 1000 }}"
                            width="{{ media_compare.width }}"
                            height="{{ media_compare.height }}"
                            alt="{{ media_compare.alt }}"
                          >
                        </div>
                      </div>

                    {%- else -%}
                      {%- if media.media_type == 'video' -%}
                        {{ media | video_tag: controls: true, preload: 'metadata', autoplay: true, muted: true, loop: true, width: '100%', height: '100%' }}
                      {%- else -%}
                        {{ media | image_url: width: 1000 | image_tag: loading: 'lazy', width: '100%', height: '100%' }}
                      {%- endif -%}
                    {%- endif -%}
                  </div>
                </div>
              </div>
            </div>
          </div>

        {%- when "product_lp_content_block_2" -%}
          <div class="{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}{% if entry.background %} _bg-brand-background-light{% endif %} md:_py-20 _py-12">
            <div class="_relative page-width">
              <div class="_grid _gap-8 md:_grid-cols-12 _grid-cols-1">
                <div class="md:_col-span-5 _col-span-1 _flex _flex-col _items-start _justify-center{% if entry.reverse_order %} md:_pl-12 md:_order-2{% else %} md:_pr-12{% endif %}">
                  {%- unless entry.title == blank -%}
                    <h2 class="_font-heading-primary _text-brand-dark md:_text-3xl _text-2.5xl _mb-2">
                      {{ entry.title }}
                    </h2>
                  {%- endunless -%}
                  <div class="_flex _flex-row _items-center _gap-3">
                    {%- unless entry.stat_number == blank -%}
                      <span class="_text-brand-primary-500 _font-heading-primary _text-3xl">{{ entry.stat_number }}</span>
                    {%- endunless -%}
                    {%- unless entry.stat_description == blank -%}
                      <span class="_text-base">{{ entry.stat_description }}</span>
                    {%- endunless -%}
                  </div>
                  {%- unless entry.text == blank -%}
                    <div class="_prose _text-base _mt-2">
                      {{ entry.text | metafield_tag }}
                    </div>
                  {%- endunless -%}
                </div>
                <div class="md:_col-span-7 _col-span-1 _flex _flex-row">
                  <div
                    class="_flex-1 _w-full _overflow-hidden{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                    {% if settings.animations_reveal_on_scroll %}
                      data-cascade
                      style="--animation-order: 1;"
                    {% endif %}
                  >
                    {%- assign media = entry.media.value -%}
                    {%- assign media_compare = entry.media_compare.value -%}

                    {%- if media_compare != blank and media_compare.media_type != 'video' and media.media_type != 'video' -%}
                      {% comment %} Only load this once as needed {% endcomment %}
                      {%- unless skip_styles -%}
                        <script src="{{ 'wm__beer-slider.js' | asset_url }}" defer="defer"></script>
                        {{ 'wm__beer-slider.css' | asset_url | stylesheet_tag }}
                      {%- endunless -%}
                      {%- assign skip_styles = true -%}

                      <div
                        class="_aspect-[7/6] _w-full _bg-brand-background beer-slider"
                        data-beer-label="After"
                      >
                        <img
                          src="{{ media | image_url: width: 1000 }}"
                          width="{{ media.width }}"
                          height="{{ media.height }}"
                          alt="{{ media.alt }}"
                        >
                        <div class="beer-reveal" data-beer-label="Before">
                          <img
                            src="{{ media_compare | image_url: width: 1000 }}"
                            width="{{ media_compare.width }}"
                            height="{{ media_compare.height }}"
                            alt="{{ media_compare.alt }}"
                          >
                        </div>
                      </div>

                    {%- else -%}
                      {%- if media.media_type == 'video' -%}
                        {{ media | video_tag: controls: true, preload: 'metadata', autoplay: true, muted: true, loop: true, width: '100%', height: '100%' }}
                      {%- else -%}
                        {{ media | image_url: width: 1000 | image_tag: loading: 'lazy', width: '100%', height: '100%' }}
                      {%- endif -%}
                    {%- endif -%}
                  </div>
                </div>
              </div>
            </div>
          </div>

        {%- when "product_lp_ingredients_block" -%}
          <script src="{{ 'wm__accordion-image-split.js' | asset_url }}" defer="defer"></script>

          {%- assign ingredients = entry.ingredient.value -%}
          
          {%- unless ingredients == blank -%}
            <div class="{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %} md:_py-20 _py-12" id="product_lp_ingredients_block">
              <div class="_relative page-width">
                <accordion-image-split>
                  <div class="_grid md:_grid-cols-12 _grid-cols-1 _gap-8">
                    <div class="md:_col-span-6 _col-span-1 _flex _flex-col _items-start _justify-start">
                      {%- unless entry.title == blank -%}
                        <h2 class="_font-heading-primary _text-brand-dark md:_text-3xl _text-2.5xl _mb-6">
                          {{ entry.title }}
                        </h2>
                      {%- endunless -%}
                      <div class="_max-w-[510px]">
                        {%- for ingredient in ingredients -%}
                          <details class="_group {% unless forloop.last %}bullet-point-line{% endunless %} _relative md:_pb-8 _pb-4" {% if forloop.first %}open="true"{% endif %}>
                            <summary data-js-trigger="{{ forloop.index }}" class="_flex _justify-start _items-center _gap-3">
                              <span class="_block _rounded-full _w-3 _h-3 _bg-brand-light _border _border-brand-border group-hover:_bg-brand-primary-100 group-open:_bg-brand-primary-100"></span>
                              <span class="_font-heading-primary _text-xl md:_mb-2 _mb-1">{{ ingredient.title }}</span>
                            </summary>
                            <div class="_prose md:_text-base _text-sm _pl-6">
                              {{ ingredient.text | metafield_tag }}
                            </div>
                          </details>
                        {%- endfor -%}
                      </div>
                    </div>
                    <div class="md:_col-span-6 _col-span-1 _flex _flex-col{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                      {% if settings.animations_reveal_on_scroll %}
                        data-cascade
                        style="--animation-order: 1;"
                      {% endif %}
                    >
                      {%- for ingredient in ingredients -%}
                      <div class="_flex-1 _w-full _max-h-[520px]{% if forloop.first %} js-panel--active{% endif %}" data-js-accordion-panel="{{ forloop.index }}">
                        {%- assign media = ingredient.media.value -%}
                        {%- assign media_classes = "_object-contain _w-full _h-full" -%}
                        {%- if media != blank -%}
                          {%- if media.media_type == 'video' -%}
                            {{ media | video_tag: controls: true, preload: 'metadata', autoplay: true, muted: true, loop: true, width: '100%', height: '100%' }}
                          {%- else -%}
                            {{ media | image_url: width: 1000 | image_tag: loading: 'lazy', width: '100%', height: '100%', class: media_classes }}
                          {%- endif -%}
                        {%- else -%}
                          {{ settings.default_ingredients_image | image_url: width: 1000 | image_tag: loading: 'lazy', width: '100%', height: '100%', class: media_classes }}
                        {%- endif -%}
                      </div>
                      {%- endfor -%}
                    </div>
                  </div>
                </accordion-image-split>
              </div>
            </div>
          {%- endunless -%}

      {%- endcase -%}
    {%- endfor -%}
  </div>
{%- endunless -%}

{% schema %}
{
  "name": "WM PDP MetaobjectBlocks",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
  ],
  "presets": [
    {
      "name": "WM PDP MetaobjectBlocks"
    }
  ]
}
{% endschema %}
