{%- if section.settings.quick_add == 'standard' -%}
   <script src="{{ 'wm__quick-shop.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- assign first_collection = blank -%}

{% style %}
  .tab-button {
    color: #8C8C8C;
    text-underline-offset: 0.5rem;
  }
  .tab-button:hover {
    text-decoration: underline;
  }
  .tab-button.tab-button--active {
    color: var(--color-brand-primary-500);
    text-decoration: underline;
  }
{% endstyle %}

<div class="section-{{ section.id }} _mb-{{ section.settings.margin_bottom | divided_by: 2 }} md:_mb-{{ section.settings.margin_bottom }} _py-20">
  <div class="page-width">
    {% unless section.settings.top_heading == blank %}
      <h3 class="_font-heading-small _text-brand-dark _text-sm _mb-1">
        {{ section.settings.top_heading }}
      </h3>
    {% endunless %}
    {% unless section.settings.main_heading == blank %}
      <h2 class="_font-heading-primary _text-brand-dark md:_text-4xl _text-2xl _mb-8">
        {{ section.settings.main_heading }}
      </h2>
    {% endunless %}
  </div>
  <div class="_relative _overflow-hidden page-width--overflow-right">
    <embla-slider>
      <div class="_mb-8 _flex _gap-4">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'featured_collection' -%}
              {% if forloop.first %}
                {% assign first_collection = block.settings.collection %}
              {% endif %}
              <button
                class="tab-button _font-heading-small _text-sm {% if forloop.first %}tab-button--active{% endif %}"
                data-js-collection-tab="{{ block.settings.collection.handle }}"
              >
                {{ block.settings.collection_title }}
              </button>

              <template data-js-product-card-template="{{ block.settings.collection.handle }}">
                {%- for product in block.settings.collection.products limit: section.settings.products_to_show -%}
                  <div
                    class="
                    _w-2/3
                    md:_w-1/2
                    md:_max-w-[340px]
                    _flex-none
                    _flex
                    _justify-center
                    _items-center
                    _snap-start
                    _h-auto
                  ">
                    {% render 'wm__card-product',
                      card_product: product,
                      show_rating: section.settings.show_rating,
                      skip_styles: true,
                      section_id: section.id,
                      quick_add: section.settings.quick_add
                    %}
                  </div>
                {%- endfor -%}
              </template>
          {%- endcase -%}
        {%- endfor -%}
      </div>

      <div class="_relative _overflow-hidden" data-js-embla>
        <div class="_flex md:_gap-7 _gap-4 _select-none" data-js-embla-container data-limit="{{ section.settings.products_to_show }}">
          {% assign skip_card_product_styles = false %}
          {%- for product in first_collection.products limit: section.settings.products_to_show -%}
            <div
              class="
              _w-2/3
              md:_w-1/2
              md:_max-w-[340px]
              _flex-none
              _flex
              _justify-center
              _items-center
              _snap-start
              _h-auto
              {% if forloop.last %} md:_mr-12 _mr-4{% endif %}
            ">
              {% render 'wm__card-product',
                card_product: product,
                show_rating: section.settings.show_rating,
                skip_styles: skip_card_product_styles,
                section_id: section.id,
                quick_add: section.settings.quick_add
              %}
            </div>
            {%- assign skip_card_product_styles = true -%}
          {%- endfor -%}
        </div>
        <button data-js-embla-prev class="_absolute _flex md:_left-7 _left-4 _top-1/2 _-translate-y-12 _bg-brand-light _text-brand-dark hover:_scale-110 _items-center _justify-center _w-10 _h-10 _rounded-full disabled:_opacity-40">
          <span class="svg-wrapper _rotate-180 _w-5">
            {{- 'arrow-chevron.svg' | inline_asset_content -}}
          </span>
        </button>
        <button data-js-embla-next class="_absolute md:_right-7 _right-4 _top-1/2 _-translate-y-12  _bg-brand-light _text-brand-dark hover:_scale-110 _flex _items-center _justify-center _w-10 _h-10 _rounded-full _opacity-80 hover:_opacity-100 disabled:_opacity-20">
          <span class="svg-wrapper _w-5">
            {{- 'arrow-chevron.svg' | inline_asset_content -}}
          </span>
        </button>
        <div class="_w-full md:_pr-12 _pr-4">
          <div class="_h-[1.5px] _mt-8 _bg-gray-300 _rounded _overflow-hidden">
            <div data-js-embla-progress class="_block _h-full _bg-brand-primary-500"></div>
          </div>
        </div>
      </div>
    </embla-slider>
  </div>
</div>

{% schema %}
{
  "name": "WM ProdScroll Tabbed",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "top_heading",
      "default": "t:sections.footer.blocks.link_list.settings.heading.default",
      "label": "Top Heading"
    },
    {
      "type": "inline_richtext",
      "id": "main_heading",
      "default": "t:sections.footer.blocks.link_list.settings.heading.default",
      "label": "Main Heading"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.featured-collection.settings.collection.label"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 25,
      "step": 1,
      "default": 8,
      "label": "t:sections.featured-collection.settings.products_to_show.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_rating.label",
      "info": "t:sections.featured-collection.settings.show_rating.info"
    },
    {
      "type": "select",
      "id": "quick_add",
      "default": "none",
      "label": "t:sections.main-collection-product-grid.settings.quick_add.label",
      "info": "t:sections.main-collection-product-grid.settings.quick_add.info",
      "options": [
        {
          "value": "none",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_1"
        },
        {
          "value": "standard",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_2"
        }
      ]
    },
    {
      "type": "text",
      "id": "cta_text",
      "label": "CTA Text",
      "default": "See all"
    },
    {
      "type": "header",
      "content": "Margin bottom controls"
    },
    {
      "type": "select",
      "id": "margin_bottom",
      "options": [
        {
          "value": "0",
          "label": "0rem"
        },
        {
          "value": "2",
          "label": "0.5rem"
        },
        {
          "value": "4",
          "label": "1rem"
        },
        {
          "value": "6",
          "label": "1.5rem"
        },
        {
          "value": "8",
          "label": "2rem"
        },
        {
          "value": "12",
          "label": "3rem"
        },
        {
          "value": "16",
          "label": "4rem"
        }
      ],
      "default": "12",
      "label": "Margin bottom"
    }
  ],
  "blocks": [
    {
      "type": "featured_collection",
      "name": "t:sections.collection-list.blocks.featured_collection.name",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.collection-list.blocks.featured_collection.settings.collection.label"
        },
        {
          "type": "text",
          "id": "collection_title",
          "label": "Name the collection tab"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "WM ProdScroll Tabbed",
      "blocks": [
        {
          "type": "featured_collection"
        }
      ]
    }
  ]
}
{% endschema %}
